Repository enso-org/enso, pull requests merged in 2021-02, with the labels that each got.

#1442 Update README.md
  README.md
  docs/syntax/types.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#1436 Handle PanicSentinel in Interpreter
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/search/SuggestionsHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Constants.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/execution/ErrorResolver.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Labels: Category: Backend, Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#1446 Enhance the Standard Library's Usage of Dataflow Errors
  .github/CODEOWNERS
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Data/Json.enso
  distribution/std-lib/Base/src/Data/Json/Internal.enso
  distribution/std-lib/Base/src/Data/List.enso
  distribution/std-lib/Base/src/Data/Map.enso
  distribution/std-lib/Base/src/Data/Maybe.enso
  distribution/std-lib/Base/src/Data/Time/Date.enso
  distribution/std-lib/Base/src/Data/Time/Locale.enso
  distribution/std-lib/Base/src/Data/Time/Time.enso
  distribution/std-lib/Base/src/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Base/src/Data/Vector.enso
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Base/src/Main.enso
  distribution/std-lib/Base/src/Math.enso
  distribution/std-lib/Base/src/Meta.enso
  distribution/std-lib/Base/src/Network/Uri.enso
  distribution/std-lib/Test/src/Test.enso
  docs/syntax/comments.md
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchAnyNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/mutable/SetAtNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/DataflowError.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CompileDiagnosticsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/DataflowErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/PanicsTest.scala
  test/Benchmarks/src/Text.enso
  test/Table_Tests/src/Main.enso
  test/Tests/src/Data/List_Spec.enso
  test/Tests/src/Data/Map_Spec.enso
  test/Tests/src/Data/Maybe_Spec.enso
  test/Tests/src/Data/Numbers_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Main.enso
  test/Tests/src/Network/Http_Spec.enso
  test/Tests/src/Network/Uri_Spec.enso
  test/Tests/src/Semantic/Any_Spec.enso
  test/Tests/src/Semantic/Deep_Export/Spec.enso
  test/Tests/src/Semantic/Import_Loop/Spec.enso
  test/Tests/src/Semantic/Names_Spec.enso
  test/Tests/src/System/File_Spec.enso
Labels: Category: Libraries, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1451 Polyglot JS Definitions
  distribution/std-lib/Base/src/Data/Vector.enso
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbContext.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/EpbParser.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ContextRewrapNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/ForeignFunctionCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/node/JsForeignNode.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/runtime/GuardedTruffleContext.java
  engine/runtime/src/main/java/org/enso/interpreter/epb/runtime/PolyglotProxy.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/IndirectInvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/resolver/HostMethodCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/caseexpr/TextBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/generic/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/generic/GetArraySizeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/generic/GetMemberNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/generic/InvokeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/java/AddToClassPathNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/interop/java/LookupClassNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/GetFileNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintErrNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintlnNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/CreateUnresolvedSymbolNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/system/CreateProcessNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/ConcatNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/OptimizeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/util/ExpectStringNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/util/ExpectTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/foreign/ForeignMethodCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Polyglot.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/lint/UnusedBindings.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  project/FixInstrumentsGeneration.scala
  test/Tests/src/Main.enso
  test/Tests/src/Semantic/Js_Interop_Spec.enso
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1452 Fix code docs, add new tags to doc parser, fix `Tag.unrecognized` and parens in text.
  distribution/std-lib/Base/src/Data/Time/Date.enso
  distribution/std-lib/Base/src/Data/Time/Duration.enso
  distribution/std-lib/Base/src/Data/Time/Locale.enso
  distribution/std-lib/Base/src/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Base/src/Data/Vector.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  docs/syntax/comments.md
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  lib/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/DocParserTests.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Size: Small, Type: Enhancement

#1454 Return Engine Version Used in Opened Project
  docs/language-server/protocol-project-manager.md
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/control/core/syntax.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/LanguageServerSockets.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/ProjectMetadata.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/data/RunningLanguageServerInfo.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/protocol/ProjectManagementApi.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectOpenHandler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/requesthandler/ProjectServiceFailureMapper.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectServiceApi.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectServiceFailure.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectManagementApiSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectOpenMissingComponentsSpec.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1458 Update RELEASES in Preparation for Cutting a Release
  RELEASES.md
  build.sbt
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1464 Back out the 0.2.2 Release
  .github/workflows/release.yml
  build.sbt
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1465 Prepare for the 0.2.2 Release (Mk 2)
  .github/CODEOWNERS
  RELEASES.md
  build.sbt
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1463 Abandon Terminating Language Server
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerRegistry.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/versionmanagement/DefaultDistributionConfiguration.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#1471 Sorting Tables
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Table/src/Data/Order_Rule.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  table/src/main/java/org/enso/table/data/column/storage/DoubleStorage.java
  table/src/main/java/org/enso/table/data/column/storage/LongStorage.java
  table/src/main/java/org/enso/table/data/column/storage/ObjectStorage.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  table/src/main/java/org/enso/table/data/index/HashIndex.java
  table/src/main/java/org/enso/table/data/index/Index.java
  table/src/main/java/org/enso/table/data/mask/OrderMask.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/data/clothes.csv
  test/Table_Tests/src/Table_Spec.enso
Labels: Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest

#1474 Add the `Geo.point` Function for Creating Points as Tables
  .github/workflows/scala.yml
  distribution/std-lib/Geo/package.yaml
  distribution/std-lib/Geo/src/Main.enso
  distribution/std-lib/Table/src/Main.enso
  test/Geo_Tests/package.yaml
  test/Geo_Tests/src/Geo_Spec.enso
  test/Geo_Tests/src/Main.enso
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1476 Table Visualization Fixes
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/column/storage/StorageListView.java
  test/Table_Tests/src/Table_Spec.enso
Labels: Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1449 Update README.md
  README.md
Labels: Category: Documentation, Change: Non-Breaking, Type: Enhancement

#1477 Prepare for the 0.2.3 Release
  RELEASES.md
  build.sbt
Labels: Category: Build, Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1482 Add Stack Traces in Tests
  distribution/std-lib/Test/src/Test.enso
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/IfThenNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugBreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/GetStackTraceTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintErrNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintlnNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/scope/AssignmentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/DataflowError.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/resources/Builtins.enso
Labels: Category: Interpreter, Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#1484 Set Correct Payload for Dataflow Errors
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Labels: Category: Backend, Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1489 Table API: contatenation, index access, column aggregation, API unification
  distribution/std-lib/Base/src/Data/Locale.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Time/Time.enso
  distribution/std-lib/Base/src/Data/Time/Time_Of_Day.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  distribution/std-lib/Table/src/Main.enso
  table/src/main/java/org/enso/table/data/column/builder/object/BoolBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/Builder.java
  table/src/main/java/org/enso/table/data/column/builder/object/InferredBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/NumericBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/ObjectBuilder.java
  table/src/main/java/org/enso/table/data/column/builder/object/StringBuilder.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/Aggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/CountAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/FunctionAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/numeric/LongToLongAggregator.java
  table/src/main/java/org/enso/table/data/column/operation/aggregate/numeric/NumericAggregator.java
  table/src/main/java/org/enso/table/data/column/storage/Storage.java
  table/src/main/java/org/enso/table/data/index/DefaultIndex.java
  table/src/main/java/org/enso/table/data/index/HashIndex.java
  table/src/main/java/org/enso/table/data/index/Index.java
  table/src/main/java/org/enso/table/data/table/Column.java
  table/src/main/java/org/enso/table/data/table/Table.java
  table/src/main/java/org/enso/table/data/table/aggregate/AggregateColumn.java
  table/src/main/java/org/enso/table/operations/OrderBuilder.java
  test/Table_Tests/src/Table_Spec.enso
  test/Tests/src/Data/Locale_Spec.enso
  test/Tests/src/Data/Text_Spec.enso
  test/Tests/src/Data/Time/Spec.enso
  test/Tests/src/Main.enso
Labels: Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1493 Change Graal Version from SemVer to String
  distribution/manifest.template.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/enso/enso-0.0.0/manifest.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-darwin-amd64-1.0.0.1.foo.tar.gz/graalvm-ce-java11-1.0.0.1.foo/Contents/Home/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-linux-amd64-1.0.0.1.foo.tar.gz/graalvm-ce-java11-1.0.0.1.foo/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/vm-1.0.0.1.foo/graalvm-ce-java11-windows-amd64-1.0.0.1.foo.zip/graalvm-ce-java11-1.0.0.1.foo/bin/java.exe
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManagerSpec.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMVersion.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/Manifest.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
Labels: Category: Distribution, Category: Tooling, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#1495 Fix Dependency Analysis
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
Labels: Category: Backend, Category: Compiler, Category: Interpreter, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1498 Error message representations
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Table/src/Data/Column.enso
  distribution/std-lib/Table/src/Data/Table.enso
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ArithmeticErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ArityErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/CompileErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/InexhaustivePatternMatchErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/InvalidArrayIndexErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ModuleDoesNotExistErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/ModuleNotInPackageErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NoSuchMethodErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NotInvokableErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/PolyglotErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/SyntaxErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/TypeErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/UninitializedStateErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/UnsupportedArgumentTypesToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/AnyToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/text/util/TypeToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/text/Text.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
  lib/scala/interpreter-dsl/src/main/java/org/enso/interpreter/dsl/BuiltinMethod.java
  test/Tests/src/Semantic/Error_Spec.enso
Labels: Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1499 Prepare for the 0.2.4 Release
  RELEASES.md
  build.sbt
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1500 Enable the Docker Pipeline
  .github/workflows/release.yml
  docs/infrastructure/upgrading-graalvm.md
  docs/runtime/README.md
  docs/runtime/instruments.md
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1502 Add Error.is_a / .is_an
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Meta.enso
  test/Tests/src/Semantic/Any_Spec.enso
  test/Tests/src/Semantic/Meta_Spec.enso
Labels: Category: Stdlib, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1504 Fix the type of Type_Error's name field
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/NotInvokableErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/displaytext/TypeErrorToDisplayTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  engine/runtime/src/main/resources/Builtins.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
Labels: Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1505 Table: Fix Bool Column Sorting
  table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  test/Table_Tests/src/Table_Spec.enso
Labels: Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1507 Analyze compiled modules
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Size: Small, Type: Bug

#1509 Band-Aid the "Template Pattern Segment Unmatched" Error
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  lib/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1508 Always Send Panic Updates
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ExpressionErrorsTest.scala
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1512 Properly Desugar Blanks in Function Position
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LambdaShorthandArgsTest.scala
Labels: Category: Compiler, Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#1475 API and SQL Code Generation for the Database Library
  .github/workflows/scala.yml
  build.sbt
  distribution/engine/THIRD-PARTY/NOTICE
  distribution/engine/THIRD-PARTY/nl.gn0s1s.bump_2.13-0.1.3/LICENSE.md
  distribution/launcher/THIRD-PARTY/nl.gn0s1s.bump_2.13-0.1.3/LICENSE.md
  distribution/project-manager/THIRD-PARTY/NOTICE
  distribution/project-manager/THIRD-PARTY/nl.gn0s1s.bump_2.13-0.1.3/LICENSE.md
  distribution/std-lib/Base/THIRD-PARTY/NOTICE
  distribution/std-lib/Base/src/Data/Any/Extensions.enso
  distribution/std-lib/Base/src/Data/Map.enso
  distribution/std-lib/Base/src/Data/Text/Extensions.enso
  distribution/std-lib/Base/src/Data/Vector.enso
  distribution/std-lib/Base/src/Error/Extensions.enso
  distribution/std-lib/Database/THIRD-PARTY/NOTICE
  distribution/std-lib/Database/package.yaml
  distribution/std-lib/Database/src/Connection/Connection.enso
  distribution/std-lib/Database/src/Data/Column.enso
  distribution/std-lib/Database/src/Data/Dialect.enso
  distribution/std-lib/Database/src/Data/Internal/Base_Generator.enso
  distribution/std-lib/Database/src/Data/Internal/Helpers.enso
  distribution/std-lib/Database/src/Data/Internal/IR.enso
  distribution/std-lib/Database/src/Data/Internal/Vector_Builder.enso
  distribution/std-lib/Database/src/Data/Sql.enso
  distribution/std-lib/Database/src/Data/Table.enso
  distribution/std-lib/Database/src/Main.enso
  distribution/std-lib/Table/THIRD-PARTY/NOTICE
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  project/GatherLicenses.scala
  project/StdBits.scala
  std-bits/src/main/java/org/enso/base/Text_Utils.java
  test/Database_Tests/package.yaml
  test/Database_Tests/src/Codegen_Spec.enso
  test/Database_Tests/src/Helpers/Fake_Test_Connection.enso
  test/Database_Tests/src/Main.enso
  test/Tests/src/Data/Map_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
  test/Tests/src/Semantic/Error_Spec.enso
  tools/legal-review/engine/report-state
  tools/legal-review/launcher/report-state
  tools/legal-review/project-manager/report-state
  tools/legal-review/std-lib-Base/report-state
  tools/legal-review/std-lib-Database/report-state
  tools/legal-review/std-lib-Table/report-state
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#1516 Invalidate Method Dependencies
  engine/runtime/src/main/scala/org/enso/compiler/context/ChangesetBuilder.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Size: Small, Type: Bug

#1522 Fix Locations in Desugared Lambdas
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/SectionsToBinOp.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/SectionsToBinOpTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Labels: Category: Compiler, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Size: Small, Type: Bug

#1524 Prepare for the 0.2.5 release
  RELEASES.md
  build.sbt
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#1523 Additional Parser Bugfixes
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  lib/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  lib/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug
