Repository enso-org/enso, pull requests merged in 2023-11, with the labels that each got.

#8199 Avoid crash when new directory created in project root
  app/gui2/ydoc-server/languageServerSession.ts
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -gui2

#8198 Fix flaky `partitionPoint` test
  app/gui2/src/util/__tests__/array.test.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui2

#8188 Constant columns (in expressions and Column_Operations) should have clearer names
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Derived_Columns_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#7935 Change filter_blank_rows when_any parameter to have a more user-friendly type
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Blank_Selector.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  test/Table_Tests/src/Common_Table_Operations/Missing_Values_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
Labels: CI: Ready to merge

#8206 Unlock resources initialization asynchronously
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/BlockingInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/RepoInitialization.java
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8202 Add disable-private-check option
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  engine/runtime-compiler/src/main/java/org/enso/compiler/context/CompilerContext.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/data/CompilerConfig.scala
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
Labels: CI: No changelog needed

#8214 Upload files by drag and drop
  app/gui2/package.json
  app/gui2/shared/dataServer.ts
  app/gui2/shared/languageServer.ts
  app/gui2/shared/yjsModel.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/upload.ts
  app/gui2/src/stores/graph.ts
  app/gui2/src/util/navigator.ts
  app/gui2/src/util/vec2.ts
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8165 Fix cloud project toast message not appearing
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectIcon.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8167 Add loading screen when page is opened
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/loadingScreen.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/spinner.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/statelessSpinner.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8086 Sentry React integration
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8085 Rename `tsx` files without JSX to `ts` files
  app/ide-desktop/lib/dashboard/bundle.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/animations.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/indent.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/shortcuts.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/hooks.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/http.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/useRefresh.ts
  app/ide-desktop/lib/dashboard/src/index.ts
  app/ide-desktop/lib/dashboard/tailwind.config.ts
  app/ide-desktop/lib/dashboard/test-server.ts
  app/ide-desktop/lib/dashboard/watch.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8205 Organizing Enso projects into physical folders
  tools/enso4igv/src/main/java/org/enso/tools/enso4igv/EnsoRootProject.java
Labels: CI: No changelog needed

#8180 Read custom visualizations
  app/gui2/.gitignore
  app/gui2/env.d.ts
  app/gui2/eslint.config.js
  app/gui2/histoire.config.ts
  app/gui2/package.json
  app/gui2/public/visualizations/builtins.ts
  app/gui2/public/visualizations/events.ts
  app/gui2/public/visualizations/icons/find.svg
  app/gui2/public/visualizations/icons/geo_map_distance.svg
  app/gui2/public/visualizations/icons/geo_map_pin.svg
  app/gui2/public/visualizations/icons/path2.svg
  app/gui2/public/visualizations/icons/show_all.svg
  app/gui2/public/visualizations/measurement.ts
  app/gui2/scripts/generateBuiltinVisualizationMetadata.js
  app/gui2/scripts/generateIconMetadata.js
  app/gui2/shared/binaryProtocol.ts
  app/gui2/shared/dataServer.ts
  app/gui2/shared/languageServer.ts
  app/gui2/shared/languageServer/files.ts
  app/gui2/shared/languageServerTypes.ts
  app/gui2/shared/uuid.ts
  app/gui2/shared/websocket.ts
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphVisualization.vue
  app/gui2/src/components/VisualizationContainer.vue
  app/gui2/src/components/VisualizationSelector.vue
  app/gui2/src/components/visualizations/GeoMapVisualization.vue
  app/gui2/src/components/visualizations/HeatmapVisualization.vue
  app/gui2/src/components/visualizations/HistogramVisualization.vue
  app/gui2/src/components/visualizations/LoadingErrorVisualization.vue
  app/gui2/src/components/visualizations/SQLVisualization.vue
  app/gui2/src/components/visualizations/ScatterplotVisualization.vue
  app/gui2/src/components/visualizations/TableVisualization.vue
  app/gui2/src/providers/visualizationConfig.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/stores/visualization.ts
  app/gui2/src/stores/visualization/__tests__/metadata.test.ts
  app/gui2/src/stores/visualization/compiler.ts
  app/gui2/src/stores/visualization/compilerMessaging.ts
  app/gui2/src/stores/visualization/index.ts
  app/gui2/src/stores/visualization/metadata.ts
  app/gui2/src/util/convert/fsAccess.ts
  app/gui2/src/util/database/reactiveDb.ts
  app/gui2/src/util/error.ts
  app/gui2/src/util/iconList.json
  app/gui2/src/util/iconName.ts
  app/gui2/src/util/net.ts
  app/gui2/stories/GeoMapVisualization.story.vue
  app/gui2/stories/MockFSWrapper.vue
  app/gui2/stories/MockProjectStoreWrapper.vue
  app/gui2/stories/ScatterplotVisualization.story.vue
  app/gui2/stories/UserDefinedVisualization.story.vue
  app/gui2/stories/histoire/HstDirectory.vue
  app/gui2/stories/setup.ts
  app/gui2/templates/visualization.vue
  app/gui2/tsconfig.app.json
  app/gui2/vite.config.ts
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8226 Change widget for Order By.
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8159 Limit `max_rows` that are downloaded in `Table.read` by default, and warn if more rows are available
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Range.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Lookup_Query_Helper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  test/Table_Tests/src/Common_Table_Operations/Core_Spec.enso
  test/Table_Tests/src/Database/Common/Common_Spec.enso
  test/Tests/src/Data/Vector_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8224 Magnet algorithm when dragging nodes.
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/__tests__/dragging.test.ts
  app/gui2/src/components/GraphEditor/dragging.ts
  app/gui2/src/stores/graph.ts
  app/gui2/src/stores/project.ts
  app/gui2/src/util/rect.ts
  app/gui2/stories/GraphEditor.story.vue
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8244 Refactor `Input` class to be composable
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/ComponentBrowser/input.ts
  app/gui2/src/stores/suggestionDatabase/entry.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8225 OpenFileCmd sends a reply when finished
  engine/language-server/src/main/scala/org/enso/languageserver/boot/TimingsConfig.scala
  engine/language-server/src/main/scala/org/enso/languageserver/text/CollaborativeBuffer.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/FileNotificationsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/TextOperationsTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VcsManagerTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/OpenFileCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime-with-instruments/src/test/java/org/enso/interpreter/test/instrument/IncrementalUpdatesTest.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/BuiltinTypesTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeComponentsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeExecutionEnvironmentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeInstrumentTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeRefactoringTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeStdlibTest.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeSuggestionUpdatesTest.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
Labels: CI: No changelog needed

#8189 Alias Analysis for the New GUI
  app/gui2/package.json
  app/gui2/shared/yjsModel.ts
  app/gui2/src/util/assert.ts
  app/gui2/src/util/ast/__tests__/aliasAnalysis.test.ts
  app/gui2/src/util/ast/aliasAnalysis.ts
  app/gui2/src/util/ast/index.ts
  app/gui2/src/util/containers.ts
  package-lock.json
Labels: CI: No changelog needed, -gui2

#8242 More fine grained initialization for resources
  app/gui/src/ide/initializer.rs
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/BlockingInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/DirectoriesInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/JsonRpcInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/LockedInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/RepoInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/TruffleContextInitialization.java
  engine/language-server/src/main/java/org/enso/languageserver/boot/resource/ZioRuntimeInitialization.java
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ResourcesInitialization.scala
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#8203 line:col positions in parser
  Cargo.toml
  app/gui2/parser-codegen/util.ts
  app/gui2/src/util/ast/__tests__/__snapshots__/ast.test.ts.snap
  lib/rust/parser/debug/src/bin/lexer.rs
  lib/rust/parser/debug/src/lib.rs
  lib/rust/parser/debug/src/main.rs
  lib/rust/parser/debug/tests/parse.rs
  lib/rust/parser/debug/tools/parse_all_enso_files.sh
  lib/rust/parser/generate-java/src/serialization.rs
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/macros/resolver.rs
  lib/rust/parser/src/source/code.rs
  lib/rust/parser/src/source/span.rs
  lib/rust/parser/src/syntax/token.rs
  lib/rust/parser/src/syntax/tree.rs
Labels: CI: Ready to merge, CI: No changelog needed

#8254 Enable profiling for all commands of runner executable
  docs/profiler/engine-startup.md
  engine/runner/src/main/scala/org/enso/runner/LanguageServerApp.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  lib/scala/profiling-utils/src/main/scala/org/enso/profiling/FileSampler.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ExecutorWithUnlimitedPool.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8235 Implement truncate Date_Time for database backend
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Database/SQLite_Spec.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
Labels: CI: Ready to merge

#8266 Fix with profiling option
  engine/runner/src/main/scala/org/enso/runner/Main.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8218 Allow the creation of a constant column on an in-memory table with no rows.
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  std-bits/table/src/main/java/org/enso/table/data/table/Column.java
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Derived_Columns_Spec.enso
  test/Table_Tests/src/In_Memory/Lossy_Conversions_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8241 Adding a new node with searcher
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/util/navigator.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8273 Fix runtime dataflow error tests
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/TestMessages.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8162 Apply custom log levels to Truffle logger
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  lib/scala/logging-config/src/main/java/org/enso/logger/config/LoggersLevels.java
  lib/scala/logging-service-logback/src/main/java/org/enso/logger/ApplicationFilter.java
  lib/scala/logging-service-logback/src/main/java/org/enso/logger/LogbackSetup.java
  lib/scala/logging-utils/src/main/java/org/enso/logger/JulHandler.java
Labels: CI: Ready to merge, CI: No changelog needed

#8245 Fix rendering of redefined Conversion error
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Redefined.scala
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/ConversionMethodTests.java
  engine/runtime-with-polyglot/src/test/java/org/enso/interpreter/test/NonStrictConversionMethodTests.java
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/OverloadsResolutionTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/OverloadsResolutionErrorTest.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8281 Allow IRPass to only access CompilerContext
  engine/runtime-compiler/src/main/java/org/enso/compiler/context/CompilerContext.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/IRPass.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/FullyQualifiedNames.scala
  engine/runtime-parser/src/main/java/org/enso/compiler/core/CompilerStub.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/SerializationManager.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/semantic/ImportExportTest.scala
Labels: CI: No changelog needed

#8276 Add 404.html for static hosting
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/dashboard/bundle.ts
  app/ide-desktop/lib/dashboard/src/404.html
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, g-dashboard

#8268 Use alias analysis to handle internal variables in CB input.
  app/gui2/package.json
  app/gui2/src/components/ComponentBrowser/__tests__/filtering.test.ts
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/ComponentBrowser/filtering.ts
  app/gui2/src/components/ComponentBrowser/input.ts
  app/gui2/src/util/containers.ts
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8155 Fix dropzone conditions; disable creating assets when on "Recent" category
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetContextMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetsTable.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/drive.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/driveBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/providers/modal.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8227 Displaying progress for file uploads
  app/gui2/shared/languageServerTypes.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/UploadingFile.vue
  app/gui2/src/components/GraphEditor/upload.ts
  app/gui2/src/stores/awareness.ts
  app/gui2/src/stores/project.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8148 Inline Execution
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/visualization/ExecuteExpressionHandler.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/VisualizationApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/handler/ExecuteExpressionHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ExecutionContextJsonMessages.scala
  engine/polyglot-api/src/main/java/org/enso/polyglot/debugger/ExecutedVisualization.java
  engine/polyglot-api/src/main/java/org/enso/polyglot/debugger/IdExecutionService.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/FullyQualifiedNames.scala
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/command/ExecuteExpressionCommand.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/ExecuteExpressionJob.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/service/ExecutionCallbacks.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/CacheInvalidation.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/ExecutionContextManager.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/Visualization.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/VisualizationHolder.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/CommandFactory.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/Instrumentor.java
Labels: CI: Ready to merge, CI: No changelog needed

#8277 Fix node placement
  app/gui2/src/components/ComponentBrowser/placement.ts
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -gui2

#8264 Let logging to file respect log level
  engine/language-server/src/main/resources/application.conf
  lib/scala/logging-config/src/main/java/org/enso/logger/config/ConsoleAppender.java
  lib/scala/logging-service-logback/src/main/java/org/enso/logger/LogbackSetup.java
  lib/scala/logging-service/src/main/java/org/enso/logging/LoggingServiceManager.java
  lib/scala/project-manager/src/main/resources/application.conf
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#8278 Add Google Analytics
  app/ide-desktop/lib/client/src/authentication.ts
  app/ide-desktop/lib/client/src/preload.ts
  app/ide-desktop/lib/common/package.json
  app/ide-desktop/lib/common/src/gtag.ts
  app/ide-desktop/lib/content/src/devServiceWorker.ts
  app/ide-desktop/lib/content/src/index.html
  app/ide-desktop/lib/content/src/index.ts
  app/ide-desktop/lib/content/src/serviceWorker.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/cognito.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/controlledInput.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/link.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/login.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/registration.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/submitButton.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/config.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/chat.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/drive.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localStorage.ts
  app/ide-desktop/lib/dashboard/src/serviceWorker.ts
  app/ide-desktop/lib/types/globals.d.ts
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, g-dashboard

#8292 Fix missing `index.html` when running `build-dashboard`
  app/ide-desktop/lib/dashboard/bundle.ts
  app/ide-desktop/lib/dashboard/src/404.html
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, g-dashboard

#8279 Opening searcher with source node
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/stores/graph.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8301 Fix CORS problems on built package
  app/gui2/index.html
  app/gui2/src/components/visualizations/GeoMapVisualization.vue
  app/gui2/src/components/visualizations/HeatmapVisualization.vue
  app/gui2/src/components/visualizations/JSONVisualization.vue
  app/gui2/src/components/visualizations/SQLVisualization.vue
  app/gui2/src/components/visualizations/ScatterplotVisualization.vue
  app/gui2/src/stores/visualization/index.ts
  lib/rust/parser/src/lexer.rs
  lib/rust/parser/src/source/span.rs
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8286 Using compiler that supports JDK 21 features
  project/FrgaalJavaCompiler.scala
Labels: CI: No changelog needed

#8253 [GUI2] Selection and rendering of basic node widgets
  app/gui2/env.d.ts
  app/gui2/shared/yjsModel.ts
  app/gui2/src/bindings.ts
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/ComponentBrowser/__tests__/placement.test.ts
  app/gui2/src/components/ComponentBrowser/input.ts
  app/gui2/src/components/DocumentationPanel.vue
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphEdge.vue
  app/gui2/src/components/GraphEditor/GraphEdges.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/NodeToken.vue
  app/gui2/src/components/GraphEditor/NodeTree.vue
  app/gui2/src/components/GraphEditor/NodeWidget.vue
  app/gui2/src/components/GraphEditor/NodeWidgetTree.vue
  app/gui2/src/components/GraphEditor/dragging.ts
  app/gui2/src/components/GraphEditor/widgets/WidgetBlank.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetCheckbox.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetHierarchy.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetNumber.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetToken.vue
  app/gui2/src/components/GraphMouse.vue
  app/gui2/src/components/LoadingSpinner.vue
  app/gui2/src/components/visualizations/LoadingVisualization.vue
  app/gui2/src/components/widgets/CheckboxWidget.vue
  app/gui2/src/components/widgets/SliderWidget.vue
  app/gui2/src/providers/__tests__/widgetRegistry.test.ts
  app/gui2/src/providers/interactionHandler.ts
  app/gui2/src/providers/widgetRegistry.ts
  app/gui2/src/providers/widgetTree.ts
  app/gui2/src/providers/widgetUsageInfo.ts
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/stores/project.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/stores/suggestionDatabase/lsUpdate.ts
  app/gui2/src/util/__tests__/navigator.test.ts
  app/gui2/src/util/__tests__/reactivity.test.ts
  app/gui2/src/util/animation.ts
  app/gui2/src/util/array.ts
  app/gui2/src/util/ast/extended.ts
  app/gui2/src/util/computedValueRegistry.ts
  app/gui2/src/util/database/__tests__/reactiveDb.test.ts
  app/gui2/src/util/database/reactiveDb.ts
  app/gui2/src/util/events.ts
  app/gui2/src/util/interaction.ts
  app/gui2/src/util/navigator.ts
  app/gui2/src/util/reactivity.ts
  app/gui2/src/util/rect.ts
  app/gui2/src/util/selection.ts
  app/gui2/src/util/vec2.ts
  app/gui2/ydoc-server/languageServerSession.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/index.tsx
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -gui2

#8284 Bump `electron-builder` on CI macOS runners.
  .github/workflows/gui.yml
  .github/workflows/release.yml
  app/ide-desktop/lib/client/electron-builder-config.ts
  app/ide-desktop/lib/client/package.json
  build/build/src/ci_gen.rs
  build/build/src/ci_gen/job.rs
  build/build/src/ide/web.rs
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#8298 enso-8194 Copy and pasting a single node
  app/gui2/shared/yjsModel.ts
  app/gui2/src/bindings.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/stores/graph/index.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8317 Avoid NPE during instrumentation
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime-instrument-id-execution/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime-with-instruments/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/scala/logging-service-logback/src/main/java/org/enso/logger/ApplicationFilter.java
Labels: CI: Ready to merge, CI: No changelog needed

#8303 Fix component browser interactions.
  app/gui2/src/bindings.ts
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/placement.test.ts
  app/gui2/src/components/ComponentBrowser/placement.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/providers/interactionHandler.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8311 Fix Geo Map visualization
  app/gui2/index.html
  app/gui2/src/components/visualizations/GeoMapVisualization.vue
  app/gui2/src/stores/visualization/index.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8327 Unify GUI2 headers
  app/gui2/vite.config.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8306 Report failures when upserting visualizations
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextEventsListener.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistry.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ContextRegistryProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/ExecutionApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeConnector.scala
  engine/language-server/src/main/scala/org/enso/languageserver/runtime/RuntimeFailureMapper.scala
  engine/language-server/src/test/scala/org/enso/languageserver/runtime/ContextEventsListenerSpec.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ContextRegistryTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/VisualizationOperationsTest.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/runtime/Runtime.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualizationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/ModifyVisualizationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ProgramExecutionSupport.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-with-polyglot/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
  lib/scala/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8320 On-deman backend heap and thread dump
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonConnectionController.scala
  engine/language-server/src/main/scala/org/enso/languageserver/protocol/json/JsonRpc.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/profiling/ProfilingSnapshotHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/profiling/TestProfilingSnapshot.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/BaseServerTest.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ProfilingJsonMessages.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ProfilingManagerTest.scala
  lib/scala/profiling-utils/src/main/java/org/enso/profiling/snapshot/HeapDumpGenerator.java
  lib/scala/profiling-utils/src/main/java/org/enso/profiling/snapshot/HeapDumpSnapshot.java
  lib/scala/profiling-utils/src/main/java/org/enso/profiling/snapshot/ProfilingSnapshot.java
  lib/scala/profiling-utils/src/test/java/org/enso/profiling/snapshot/HeapDumpGeneratorTest.java
Labels: CI: Ready to merge, CI: No changelog needed

#8330 Make sure that runtime/benchmarks are dry-run in CI tests
  build.sbt
  docs/CONTRIBUTING.md
Labels: CI: Ready to merge, CI: No changelog needed

#8310 Fixes for GUI2
  app/gui2/package.json
  app/gui2/src/assets/icons.svg
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/GraphEditor/GraphVisualization.vue
  app/gui2/src/components/SvgIcon.vue
  app/gui2/src/components/VisualizationContainer.vue
  app/gui2/src/components/VisualizationSelector.vue
  app/gui2/src/components/visualizations/GeoMapVisualization.vue
  app/gui2/src/components/visualizations/HeatmapVisualization.vue
  app/gui2/src/components/visualizations/ImageBase64Visualization.vue
  app/gui2/src/components/visualizations/JSONVisualization.vue
  app/gui2/src/components/visualizations/SQLVisualization.vue
  app/gui2/src/components/visualizations/ScatterplotVisualization.vue
  app/gui2/src/components/visualizations/TableVisualization.vue
  app/gui2/src/components/visualizations/WarningsVisualization.vue
  app/gui2/src/components/visualizations/dependencyTypesPatches.ts
  app/gui2/src/providers/visualizationConfig.ts
  app/gui2/src/stores/visualization/compilerMessaging.ts
  app/gui2/src/stores/visualization/index.ts
  app/gui2/src/stores/visualization/metadata.ts
  app/gui2/src/util/autoBlur.ts
  app/gui2/src/util/events.ts
  app/gui2/src/util/navigator.ts
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8326 Layout nodes without position
  app/gui2/src/components/ComponentBrowser/__tests__/placement.test.ts
  app/gui2/src/components/ComponentBrowser/placement.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphEdge.vue
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/util/theme.json
  app/gui2/tsconfig.app.json
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8333 Syntax error on unexpected unary minus
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime/src/test/java/org/enso/compiler/ErrorCompilerTest.java
Labels: CI: No changelog needed

#8337 Always create events log when profiling
  docs/profiler/engine-startup.md
  engine/language-server/src/main/scala/org/enso/languageserver/boot/MainModule.scala
  engine/language-server/src/main/scala/org/enso/languageserver/boot/ProfilingConfig.scala
  engine/runner/src/main/scala/org/enso/runner/Main.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/Cli.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManager.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/ProjectManagerOptions.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/boot/configuration.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/ExecutorWithUnlimitedPool.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerController.scala
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/infrastructure/languageserver/LanguageServerDescriptor.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/BaseServerSpec.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8331 Specify expression to get more advanced results on_return callback
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/Instrumentor.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/InstrumentorBuiltin.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/InstrumentorEvalNode.java
  test/Tests/src/Semantic/Instrumentor_Spec.enso
Labels: CI: No changelog needed

#8265 Download and upgrade buttons
  app/ide-desktop/lib/assets/app_download.svg
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/src/authentication/src/appInfo.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/login.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/components/app.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/drive.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/userMenu.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/shortcuts.ts
  app/ide-desktop/package.json
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#8312 Fix styles for confirm delete modal
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/confirmDeleteModal.tsx
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#8347 Fix dashboard issues
  app/ide-desktop/lib/client/package.json
  app/ide-desktop/lib/client/watch.ts
  app/ide-desktop/lib/content/watch.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/components/resetPassword.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/providers/auth.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/authentication/service.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/projectIcon.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/samples.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/whatsNew.tsx
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#8349 Update Dockerfile to GraalVM JDK21
  tools/ci/docker/Dockerfile
Labels: CI: No changelog needed

#8357 Linting and Groups update
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Enso_Cloud/Enso_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Enso_Cloud/Enso_Secret.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Filter_Condition.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Index_Sub_Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Noise.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time_Formatter.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Zone.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/XML.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Response.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Response_Body.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/URI.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/URI_With_Query.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Random.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Error_Mapper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Error_Mapper.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Blank_Selector.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Calculations/Column_Operation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Extensions/Table_Ref.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Constant_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Expand_Objects_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Exports.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Lookup_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Table_Helpers.enso
  test/Table_Tests/src/Common_Table_Operations/Missing_Values_Spec.enso
  test/Table_Tests/src/Database/Codegen_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8339 [GUI2] Render widget arguments
  app/gui2/parser-codegen/serialization.ts
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/NodeWidget.vue
  app/gui2/src/components/GraphEditor/NodeWidgetTree.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetApplication.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetArgument.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetArgumentName.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetBlank.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetCheckbox.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetHierarchy.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetNumber.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetToken.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetTopLevelArgument.vue
  app/gui2/src/providers/__tests__/widgetRegistry.test.ts
  app/gui2/src/providers/portInfo.ts
  app/gui2/src/providers/widgetRegistry.ts
  app/gui2/src/providers/widgetUsageInfo.ts
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/util/array.ts
  app/gui2/src/util/ast/__tests__/callTree.test.ts
  app/gui2/src/util/ast/extended.ts
  app/gui2/src/util/ast/index.ts
  app/gui2/src/util/callTree.ts
  app/gui2/src/util/parserSupport.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8360 Apply ICONs
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Enso_Cloud/Enso_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/XML.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File/File_Permissions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File/Write_Extensions.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_Database_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Extensions/Upload_In_Memory_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Connection.enso
  distribution/lib/Standard/Image/0.0.0-dev/src/Data/Image.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Column_Vector_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Extensions/Table_Conversions.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8344 Add Chrome devtools and DAP tools for debugging
  build.sbt
  docs/debugger/README.md
  docs/debugger/dap.md
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/DebuggingEnsoTest.java
  project/GraalVM.scala
  project/JPMSUtils.scala
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#8353 More consistent reactive indices
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/DocumentationPanel.vue
  app/gui2/src/components/DocumentationPanel/ir.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphEdge.vue
  app/gui2/src/components/GraphEditor/GraphEdges.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/dragging.ts
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/stores/suggestionDatabase/__tests__/lsUpdate.test.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/stores/visualization/__tests__/metadata.test.ts
  app/gui2/src/stores/visualization/index.ts
  app/gui2/src/stores/visualization/metadata.ts
  app/gui2/src/util/database/reactiveDb.ts
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -gui2

#8369 Make ICON section work consistently between old and new GUI.
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/util/getIconName.ts
Labels: CI: Ready to merge, CI: No changelog needed

#8316 Edges from alias analysis
  app/gui2/shared/yjsModel.ts
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/GraphEditor/GraphEdge.vue
  app/gui2/src/components/GraphEditor/GraphEdges.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/stores/graph/__tests__/graphDatabase.test.ts
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/util/ast/extended.ts
  app/gui2/src/util/containers.ts
  app/gui2/src/util/database/reactiveDb.ts
  app/gui2/stories/GraphNode.story.vue
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8365 Fix startup in the electron package
  app/gui2/src/providers/widgetRegistry.ts
  app/gui2/src/util/rect.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, --regression, -gui2

#8373 Minor tweaks post jdk21 upgrade
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/runtime/GuardedTruffleContext.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeMethodNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/ordering/SortVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
Labels: CI: Ready to merge, CI: No changelog needed

#8364 Fix Java log initialization in `std-table`
  engine/runtime/src/main/java/org/enso/ClassLoaderConstants.java
  engine/runtime/src/main/java/org/enso/EngineRunnerBootLoader.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/HostClassLoader.java
Labels: CI: No changelog needed

#8375 Show diagnostics in Code Editor
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/stores/project.ts
  app/gui2/src/util/codemirror.ts
  app/gui2/src/util/computedValueRegistry.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8358 Add shortcuts to start and stop the backend profiling
  app/gui/controller/engine-protocol/src/language_server.rs
  app/gui/docs/product/shortcuts.md
  app/gui/src/controller/graph/executed.rs
  app/gui/src/model/execution_context.rs
  app/gui/src/model/execution_context/plain.rs
  app/gui/src/model/execution_context/synchronized.rs
  app/gui/src/presenter/project.rs
  app/gui/view/src/project.rs
  docs/language-server/protocol-language-server.md
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingApi.scala
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingManager.scala
  engine/language-server/src/main/scala/org/enso/languageserver/profiling/ProfilingProtocol.scala
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/profiling/ProfilingStartHandler.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ProfilingJsonMessages.scala
  engine/language-server/src/test/scala/org/enso/languageserver/websocket/json/ProfilingManagerTest.scala
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#8377 Fix a set of issues in Component Browser
  app/gui2/src/components/ComponentBrowser/component.ts
  app/gui2/src/components/ComponentBrowser/filtering.ts
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/util/getIconName.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui2

#8380 Gather diagnostics from annotations
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/GatherDiagnostics.scala
  engine/runtime/src/test/java/org/enso/compiler/ErrorCompilerTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/GatherDiagnosticsTest.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8341 All ways of creating node (+ button, dragging out edges)
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphEdges.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/PlusButton.vue
  app/gui2/src/composables/doubleClick.ts
  app/gui2/src/providers/interactionHandler.ts
  app/gui2/src/stores/graph/index.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8381 Don't NPE on `op ._` when translating tree to IR
  engine/language-server/src/main/resources/application.conf
  engine/runtime-compiler/src/main/java/org/enso/compiler/context/CompilerContext.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/command/AttachVisualizationCmd.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
  engine/runtime/src/test/java/org/enso/compiler/ErrorCompilerTest.java
Labels: CI: Ready to merge, CI: No changelog needed

#8285 Build script fixes & improvements
  .github/workflows/gui.yml
  .github/workflows/scala-new.yml
  Cargo.lock
  Cargo.toml
  app/gui/Cargo.toml
  app/gui/controller/double-representation/Cargo.toml
  app/gui/controller/engine-protocol/Cargo.toml
  app/gui/enso-profiler-enso-data/Cargo.toml
  app/gui/language/ast/impl/Cargo.toml
  app/gui/language/parser/Cargo.toml
  app/gui/suggestion-database/Cargo.toml
  app/gui/view/Cargo.toml
  app/gui/view/graph-editor/Cargo.toml
  build/build/Cargo.toml
  build/build/src/ci_gen/job.rs
  build/build/src/engine/sbt.rs
  build/ci-gen/src/main.rs
  build/ci_utils/Cargo.toml
  build/ci_utils/src/actions/workflow/definition.rs
  build/ci_utils/src/env.rs
  build/ci_utils/src/env/accessor.rs
  build/ci_utils/src/env/known.rs
  build/cli/Cargo.toml
  lib/rust/config-reader/Cargo.toml
  lib/rust/data-structures/Cargo.toml
  lib/rust/ensogl/component/text/Cargo.toml
  lib/rust/ensogl/component/text/src/font/msdf/Cargo.toml
  lib/rust/ensogl/core/Cargo.toml
  lib/rust/ensogl/pack/Cargo.toml
  lib/rust/generics/Cargo.toml
  lib/rust/json-rpc/Cargo.toml
  lib/rust/json-to-struct/Cargo.toml
  lib/rust/metamodel/lexpr/Cargo.toml
  lib/rust/parser/Cargo.toml
  lib/rust/parser/debug/Cargo.toml
  lib/rust/parser/doc-parser/Cargo.toml
  lib/rust/parser/schema/Cargo.toml
  lib/rust/prelude/Cargo.toml
  lib/rust/profiler/Cargo.toml
  lib/rust/profiler/data/Cargo.toml
  lib/rust/shapely/Cargo.toml
  lib/rust/shapely/macros/Cargo.toml
  lib/rust/shortcuts/Cargo.toml
  lib/rust/shortcuts/example/Cargo.toml
  lib/rust/text/Cargo.toml
  lib/rust/types/Cargo.toml
  lib/rust/zst/Cargo.toml
  run
  run.cmd
  run.ps1
Labels: CI: No changelog needed

#8378 Benchmark to measure startup time
  test/Benchmarks/src/Main.enso
  test/Benchmarks/src/Startup.enso
  test/Examples_Tests/src/Python_Examples_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8338 Improve performance of anti-join
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Join_Kind.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Data/Table.enso
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/CrossJoin.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/JoinKind.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/JoinResult.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/JoinStrategy.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/MatchAllStrategy.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/between/SortJoin.java
  std-bits/table/src/main/java/org/enso/table/data/table/join/hashing/HashJoin.java
  test/Benchmarks/src/Table/Join.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Join_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8379 fix incorrect byte array comparison
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/util/array.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui2

#8345 Fix auto layout
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/stores/graph/__tests__/graphDatabase.test.ts
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/util/ast/extended.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui2

#8315 Imports in CB
  app/gui2/shared/yjsModel.ts
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/ComponentBrowser/input.ts
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/imports.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/stores/suggestionDatabase/lsUpdate.ts
  app/gui2/src/util/ast/extended.ts
  app/gui2/src/util/ast/opr.ts
  app/gui2/src/util/iterable.ts
  app/gui2/src/util/qualifiedName.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8382 Fix Benchmark processor when run from a root directory with different name than "enso"
  lib/scala/bench-processor/src/main/java/org/enso/benchmarks/Utils.java
  lib/scala/bench-processor/src/main/java/org/enso/benchmarks/processor/BenchProcessor.java
Labels: CI: Ready to merge, CI: No changelog needed

#8370 Unified debugging information
  docs/debugger/README.md
  docs/debugger/mixed-debugging.md
  docs/debugger/runtime-debugging.md
  tools/enso4igv/README.md
Labels: CI: No changelog needed

#8359 3% speedup with LazyMap and MetadataStorage
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/PassPersistance.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/phase/ImportResolver.scala
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/IrLazyMap.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/IrPersistance.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/IrLazyImMap.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/MetadataStorage.scala
  engine/runtime-parser/src/test/java/org/enso/compiler/core/IrPersistanceTest.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
  lib/java/persistance-dsl/src/main/java/org/enso/persist/impl/PersistableProcessor.java
  lib/java/persistance/src/main/java/org/enso/persist/PerInputImpl.java
  test/Benchmarks/src/Main.enso
  test/Benchmarks/src/Startup.enso
  test/Benchmarks/src/Startup/Empty_World.enso
  test/Benchmarks/src/Startup/Hello_World.enso
  test/Benchmarks/src/Startup/Startup.enso
Labels: CI: No changelog needed

#8366 Rewriting MetadataStorage into Java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/AutomaticParallelism.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/GatherDiagnostics.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/TailCall.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/desugar/ComplexType.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/desugar/FunctionBinding.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/ExpressionAnnotations.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/FullyQualifiedNames.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/GenericAnnotations.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/GlobalNames.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/IgnoredBindings.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/MethodCalls.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/MethodDefinitions.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/ModuleAnnotations.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/Patterns.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/TypeFunctions.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/TypeNames.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/IrPersistance.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/MetadataStorage.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/Implicits.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/CallArgument.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/DefinitionArgument.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Empty.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Expression.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Function.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Literal.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/MetadataStorage.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Module.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Name.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Pattern.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Type.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Application.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Case.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Comment.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Error.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Foreign.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Operator.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Section.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Conversion.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/ImportExport.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Pattern.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Redefined.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Resolution.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Syntax.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/errors/Unexpected.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/module/scope/Definition.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/module/scope/Export.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/module/scope/Import.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/module/scope/definition/Method.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/module/scope/imports/Polyglot.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/type/Set.scala
  engine/runtime-parser/src/test/java/org/enso/compiler/core/IrPersistanceTest.java
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/ir/MetadataStorageTest.scala
Labels: CI: No changelog needed

#8395 Ensure compilation is run with a compilation lock
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/Locking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/EpbContext.java
Labels: CI: Ready to merge, CI: No changelog needed

#8391 Filter for test/Benchmarks
  docs/infrastructure/benchmarks.md
  test/Benchmarks/src/Main.enso
Labels: CI: Ready to merge, CI: No changelog needed, --low-performance

#8388 fix edge dragging and method argument assignment
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphEdges.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/NodeWidget.vue
  app/gui2/src/components/GraphEditor/NodeWidgetTree.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetApplication.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetPort.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetTopLevelArgument.vue
  app/gui2/src/composables/doubleClick.ts
  app/gui2/src/providers/__tests__/widgetRegistry.test.ts
  app/gui2/src/providers/functionInfo.ts
  app/gui2/src/providers/portInfo.ts
  app/gui2/src/providers/widgetRegistry.ts
  app/gui2/src/providers/widgetUsageInfo.ts
  app/gui2/src/stores/graph/__tests__/graphDatabase.test.ts
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/util/array.ts
  app/gui2/src/util/ast/__tests__/callTree.test.ts
  app/gui2/src/util/callTree.ts
  app/gui2/src/util/events.ts
  app/gui2/src/util/navigator.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui2

#8397 Separating Table tests from the Tests project.
  test/Table_Tests/src/Formatting/Data_Formatter_Spec.enso
  test/Tests/src/Data/Time/Date_Time_Formatter_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#8393 More robust work with caches
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/IrPersistance.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/TruffleCompilerContext.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/DefaultPackageRepository.scala
  engine/runtime/src/test/java/org/enso/interpreter/caches/ModuleCacheTest.java
  engine/runtime/src/test/java/org/enso/interpreter/runtime/ModuleTest.java
Labels: CI: No changelog needed

#8385 CB Fixes and Improvements
  app/gui2/src/assets/icons.svg
  app/gui2/src/components/ComponentBrowser.vue
  app/gui2/src/components/ComponentBrowser/__tests__/filtering.test.ts
  app/gui2/src/components/ComponentBrowser/filtering.ts
  app/gui2/src/stores/project.ts
  app/gui2/src/stores/suggestionDatabase/index.ts
  app/gui2/src/util/events.ts
  app/gui2/src/util/getIconName.ts
  app/gui2/src/util/interaction.ts
  app/gui2/src/util/observable.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, --bug, -gui2

#8412 Avoid placing a new node over a visualization
  app/gui2/src/components/GraphEditor.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/GraphVisualization.vue
  app/gui2/src/components/VisualizationContainer.vue
  app/gui2/src/providers/visualizationConfig.ts
  app/gui2/src/stores/graph/index.ts
  app/gui2/src/util/selection.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui2

#8394 Make node expand to visualization width
  app/gui2/src/App.vue
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodes.vue
  app/gui2/src/components/GraphEditor/GraphVisualization.vue
  app/gui2/src/components/VisualizationContainer.vue
  app/gui2/src/components/VisualizationSelector.vue
  app/gui2/src/providers/visualizationConfig.ts
  app/gui2/src/util/events.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, -gui2

#8416 Convert constants to Enso values
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/IrToTruffle.scala
  engine/runtime/src/test/java/org/enso/example/TestClass.java
  engine/runtime/src/test/java/org/enso/interpreter/test/JavaInteropTest.java
Labels: CI: No changelog needed

#8409 Errors on nodes
  app/gui2/src/assets/base.css
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/components/ComponentBrowser/__tests__/input.test.ts
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/GraphNodeError.vue
  app/gui2/src/stores/graph/graphDatabase.ts
  app/gui2/src/stores/project/computedValueRegistry.ts
  app/gui2/src/stores/project/index.ts
  app/gui2/src/stores/project/visualizationDataRegistry.ts
  app/gui2/src/util/database/reactiveDb.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, -gui2

#8410 project-manager can start without prior GraalVM installation
  build.sbt
  lib/scala/project-manager/src/main/scala/org/enso/projectmanager/service/ProjectService.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/MissingComponentBehavior.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectCreateHandleMissingRuntimeSpec.scala
  lib/scala/project-manager/src/test/scala/org/enso/projectmanager/protocol/ProjectOpenHandleMissingRuntimeSpec.scala
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/enso/enso-0.0.1/manifest.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/enso/enso-0.1.0/manifest.yaml
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/jdk-21.0.0/graalvm-community-jdk-21.0.0_linux-x64_bin.tar.gz/graalvm-community-openjdk-21+35.1/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/jdk-21.0.0/graalvm-community-jdk-21.0.0_macos-aarch64_bin.tar.gz/graalvm-community-openjdk-21+35.1/Contents/Home/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/jdk-21.0.0/graalvm-community-jdk-21.0.0_macos-x64_bin.tar.gz/graalvm-community-openjdk-21+35.1/Contents/Home/bin/java
  lib/scala/runtime-version-manager-test/src/main/resources/org/enso/runtimeversionmanager/test/fake-releases/graalvm/jdk-21.0.0/graalvm-community-jdk-21.0.0_windows-x64_bin.zip/graalvm-community-openjdk-21+35.1/bin/java.exe
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NoopComponentUpdater.scala
  lib/scala/runtime-version-manager-test/src/main/scala/org/enso/runtimeversionmanager/test/NoopComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager-test/src/test/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManagerSpec.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/Engine.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/GraalVMVersion.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeComponentUpdaterFactory.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/RuntimeVersionManager.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/components/UnchainedGraalVMComponentUpdater.scala
  lib/scala/runtime-version-manager/src/main/scala/org/enso/runtimeversionmanager/runner/Runner.scala
Labels: CI: Ready to merge, CI: No changelog needed

#8411 Implement Dropdown Widgets.
  app/gui2/src/components/GraphEditor/widgets/WidgetArgumentName.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetSelection.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetTopLevelArgument.vue
  app/gui2/src/components/widgets/DropdownWidget.vue
Labels: CI: Ready to merge, CI: No changelog needed, g-widgets, -gui2

#8422 Minor QoL improvements
  app/gui2/shared/languageServerTypes.ts
  app/gui2/src/assets/icons.svg
  app/gui2/src/components/CodeEditor.vue
  app/gui2/src/util/codemirror.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, -gui2

#7612 Project Description/Settings sidebar
  app/ide-desktop/eslint.config.js
  app/ide-desktop/lib/dashboard/package.json
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/backend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/column.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetInfoBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetRow.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetSettingsPanel.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/assetsTable.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/chat.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/dashboard.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/drive.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/managePermissionsModal.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/table.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/tableColumn.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/tableRow.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/components/topBar.tsx
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/localStorage.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/remoteBackend.ts
  app/ide-desktop/lib/dashboard/src/authentication/src/dashboard/style.ts
  app/ide-desktop/lib/dashboard/src/tailwind.css
  app/ide-desktop/lib/dashboard/tailwind.config.js
  package-lock.json
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, g-dashboard

#8427 Fix Tailwind config for gui2
  app/gui2/vite.config.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, --regression, -gui2

#8361 Vector editor widget
  app/gui2/src/App.vue
  app/gui2/src/assets/icons.svg
  app/gui2/src/components/GraphEditor/GraphNode.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetCheckbox.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetNumber.vue
  app/gui2/src/components/GraphEditor/widgets/WidgetVector.vue
  app/gui2/src/components/GraphMouse.vue
  app/gui2/src/components/widgets/CheckboxWidget.vue
  app/gui2/src/components/widgets/ListWidget.vue
  app/gui2/src/components/widgets/SliderWidget.vue
  app/gui2/src/providers/appClass.ts
  app/gui2/src/util/drag.ts
  app/gui2/src/util/events.ts
  app/gui2/src/util/navigator.ts
  app/gui2/src/util/shortcuts.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, -gui2
