Repository enso-org/enso, pull requests merged in 2025-10, with the labels that each got.

#14085 Change Column.length to Column.row_count
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/DB_Column_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Column.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/In_Memory_Column.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Conversions/Convertible_To_Columns.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Conversions/Convertible_To_Rows.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/In_Memory_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Fan_Out.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Column_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Table_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/In_Memory_Column_Refinements.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Single_Value_Column_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Table_Refinements.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  test/Table_Tests/src/Common_Table_Operations/Aggregate_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Core_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Expression_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Join/Zip_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Util.enso
  test/Table_Tests/src/Database/Common/Common_Spec.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
  test/Table_Tests/src/In_Memory/Column_Spec.enso
  test/Table_Tests/src/In_Memory/Single_Value_Column_Spec.enso
  test/Table_Tests/src/In_Memory/Table_Spec.enso
  test/Table_Tests/src/Util.enso
  test/Table_Tests/src/Util_Spec.enso
Labels: CI: Ready to merge, -libs-API-change-Table

#14037 Test `Standard.Microsoft` in (mocked) dual JVM mode
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/engine-checks.yml
  .github/workflows/extra-nightly-tests.yml
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.toml
  build.sbt
  build_tools/build/src/ci_gen/job.rs
  build_tools/build/src/engine.rs
  build_tools/cli/src/lib.rs
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Enso_Cloud/Enso_Secret.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Enso_Cloud/Enso_Secret.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/Internal/JDBC_Connection.md
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/Internal/Statement_Setter.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/JDBC_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Result_Set.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Statement_Setter.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/SQLServer_Connection.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Java_Problems.md
  distribution/lib/Standard/Table/0.0.0-dev/src/In_Memory_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Table_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Problems.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Row.enso
  docs/infrastructure/native-image.md
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/JavaPolyglotNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoPolyglotJava.java
  lib/java/jvm-interop/src/main/java/org/enso/jvm/interop/api/OtherJvmClassLoader.java
  lib/java/jvm-interop/src/main/java/org/enso/jvm/interop/impl/OtherJvmObject.java
  lib/java/jvm-interop/src/main/java/org/enso/jvm/interop/impl/OtherJvmPool.java
  lib/java/jvm-interop/src/main/java/org/enso/jvm/interop/impl/OtherLanguage.java
  lib/java/jvm-interop/src/test/java/org/enso/jvm/interop/impl/OtherJvmGCTest.java
  lib/java/jvm-interop/src/test/java/org/enso/jvm/interop/impl/OtherJvmObjectTest.java
  project/DistributionPackage.scala
  project/GraalVM.scala
  std-bits/database/src/main/java/org/enso/database/fetchers/ColumnFetcherFactory.java
  std-bits/table/src/main/java/org/enso/table/data/table/Table.java
  test/Cloud_Tests/src/Network/Enso_Cloud/Cloud_Tests_Setup.enso
Labels: CI: No changelog needed, CI: Clean build required, -libs-API-change-Base, -libs-API-change-Database, -libs-API-change-Table

#14066 Fix hybrid project upload override
  CHANGELOG.md
  app/common/src/services/Backend.ts
  app/common/src/text/english.json
  app/gui/src/dashboard/hooks/projectHooks.ts
  app/gui/src/dashboard/layouts/Editor.tsx
  app/gui/src/dashboard/pages/dashboard/components/AssetRow.tsx
  app/gui/src/dashboard/pages/dashboard/components/ProjectIcon.tsx
  app/gui/src/dashboard/providers/ProjectsProvider/hooks.ts
  app/gui/src/dashboard/utilities/preventNavigation.tsx
  app/gui/src/providers/container.ts
  app/gui/src/providers/react/container.tsx
Labels: CI: Ready to merge

#14101 Fix response body of 'list tags' response
  app/common/src/backendQuery.ts
  app/gui/integration-test/dashboard/actions/api.ts
  app/gui/src/dashboard/hooks/backendHooks.ts
  app/gui/src/dashboard/services/RemoteBackend.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#14106 Let `withDebug --debugger` work for `runtime-benchmarks`
  docs/infrastructure/benchmarks.md
  project/WithDebugCommand.scala
Labels: CI: Ready to merge, CI: No changelog needed

#14067 Edit labels for multiple assets at once
  app/gui/src/dashboard/layouts/AssetContextMenu.tsx
  app/gui/src/dashboard/modals/ManageLabelsModal.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/components.tsx
  app/gui/src/dashboard/providers/DriveProvider.tsx
  app/gui/src/project-view/util/equals.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, g-dashboard

#14100 Avoid reopening project on reload if it was already closed
  app/gui/src/providers/container.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui

#14047 Fix file browser widget
  app/common/src/backendQuery.ts
  app/gui/integration-test/dashboard/actions/api.ts
  app/gui/src/dashboard/components/FilePathInput.tsx
  app/gui/src/dashboard/hooks/backendHooks.ts
  app/gui/src/dashboard/hooks/projectHooks.ts
  app/gui/src/dashboard/layouts/AssetPanel/components/queries.ts
  app/gui/src/dashboard/pages/dashboard/components/Label.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/components.tsx
  app/gui/src/dashboard/services/RemoteBackend.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#14113 Fix running enso.bat
  app/project-manager-shim/src/projectService/ensoRunner.ts
Labels: CI: Ready to merge, CI: No changelog needed

#14091 Add Text_Column.length and Text_Column.char_length
  CHANGELOG.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/Typed_DB_Column_Implementations.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Refined_Types/Text_Column.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Expression.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Typed_Column_Implementations.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Refined_Types/Text_Column.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/unary/TextCharLengthOperation.java
  test/Table_Tests/src/Common_Table_Operations/Text_Column_Spec.enso
Labels: CI: Ready to merge, CI: Clean build required, -libs-API-change-Table

#14068 Create Excel Format Strategy
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Excel_Writer.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Excel_Writer.enso
  std-bits/table/src/main/java/org/enso/table/excel/ExcelFormatStrategy.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelWorkbook.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelWriteHelper.java
  std-bits/table/src/main/java/org/enso/table/excel/XlsFormatStrategy.java
  std-bits/table/src/main/java/org/enso/table/excel/XlsxFormatStrategy.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
  test/Table_Tests/src/IO/Excel_Spec.enso
Labels: CI: No changelog needed, CI: Clean build required, -libs-API-change-Table
