Repository enso-org/enso, pull requests merged in 2025-05, with the labels that each got.

#13009 Ensure that generated IR has DiagnosticStorage as constructor parameter
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/CallArgument.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/expression/Application.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/module/scope/Import.java
Labels: CI: No changelog needed, CI: Clean build required, -compiler

#12987 Reordering nodes and making them dependent no longer leads to stale computation
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/ChangesetBuilder.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/interpreter/test/instrument/RuntimeRefactoringTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/interpreter/test/instrument/RuntimeVisualizationsTest.scala
Labels: CI: Ready to merge, CI: No changelog needed

#12992 Further isolation of compiler tests from runtime
  build.sbt
  docs/runtime/compiler-ir.md
  engine/runtime-compiler/src/main/java/org/enso/compiler/data/CompilerConfig.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/PackageRepository.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/data/CompilerConfig.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/phase/BuiltinsIrBuilder.scala
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/CompilerErrorTest.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/DiagnosticException.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/MockCompilerContext.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/MockModule.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/MockPackageRepository.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/VirtualFileSystem.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/VirtualFileSystemTest.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/WithCompilerContext.java
  engine/runtime-compiler/src/test/java/org/enso/compiler/test/mock/package-info.java
  engine/runtime-compiler/src/test/resources/application-test.conf
  engine/runtime-instrument-common/src/test/scala/org/enso/compiler/test/CompilerTestSetup.scala
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/test/mini/passes/MiniPassTester.java
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/PassesTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Warning.scala
  engine/runtime/src/main/java/org/enso/interpreter/EnsoLanguage.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/EnsoContext.java
  lib/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
Labels: CI: No changelog needed

#13004 Refactor Case IR to Java
  build.sbt
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/PrivateSymbolsAnalysis.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/lint/ShadowedPatternFields.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/optimise/UnreachableMatchBranches.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/DemandAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/desugar/FunctionBinding.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambdaMini.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/desugar/NestedPatternMatch.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/lint/UnusedBindings.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/IgnoredBindings.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/resolve/Patterns.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/pass/analyse/alias/graph/test/AliasAnalysisTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/analyse/TailCallMegaPass.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/desugar/NestedPatternMatchTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/resolve/DocumentationCommentsTest.scala
  engine/runtime-parser-processor-tests/src/test/java/org/enso/runtime/parser/processor/test/TestIRProcessorInline.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/GenerateIRAnnotationVisitor.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/IRNodeClassGenerator.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/IRProcessor.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/field/FieldCollector.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/utils/DependencySorter.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/utils/InterfaceCollector.java
  engine/runtime-parser-processor/src/main/java/org/enso/runtime/parser/processor/utils/Utils.java
  engine/runtime-parser-processor/src/test/java/org/enso/runtime/parser/processor/test/TestDependencySorter.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/IR.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/TreeToIr.java
  engine/runtime-parser/src/main/java/org/enso/compiler/core/ir/expression/Case.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Expression.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Function.scala
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/expression/Case.scala
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/IrToTruffle.scala
Labels: CI: No changelog needed, CI: Clean build required, -compiler

#12999 Hyper write part2
  distribution/lib/Standard/Tableau/0.0.0-dev/docs/api/Hyper_Errors.md
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Hyper_Errors.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Tableau_Format.enso
  std-bits/tableau/src/main/java/org/enso/tableau/HyperFormat.java
  test/Tableau_Tests/src/Write_Spec.enso
Labels: CI: No changelog needed, -libs-API-change-Tableau

#13019 Fix Google Analytic widgets (again).
  distribution/lib/Standard/Google_Api/0.0.0-dev/src/Google_Analytics_Account.enso
  distribution/lib/Standard/Google_Api/0.0.0-dev/src/Google_Analytics_Property.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13026 Run changelog check on Linux
  .github/workflows/changelog.yml
  build_tools/build/src/ci_gen.rs
Labels: CI: Ready to merge, CI: No changelog needed

#12986 Add ability to inspect row, column and value from table viz menu
  CHANGELOG.md
  app/gui/src/project-view/components/shared/AgGridTableView.vue
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
Labels: CI: Ready to merge

#13011 use ISO date string in tooltip in scatterplot
  app/gui/src/project-view/components/visualizations/ScatterplotVisualization.vue
Labels: CI: Ready to merge, CI: No changelog needed

#13020 Dump stacktraces when tests fail to close context
  build.sbt
  engine/runtime-instrument-common/src/main/java/module-info.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/interpreter/test/instrument/InstrumentTestContext.scala
  engine/runtime-language-epb/src/main/java/module-info.java
  engine/runtime-language-epb/src/main/java/org/enso/interpreter/epb/EpbContext.java
  lib/java/runtime-utils/src/main/java/module-info.java
  lib/java/runtime-utils/src/main/java/org/enso/runtime/utils/ThreadUtils.java
  lib/scala/json-rpc-server/src/test/scala/org/enso/jsonrpc/test/JsonRpcServerTestKit.scala
  lib/scala/process-utils/src/main/scala/org/enso/process/WrappedProcess.scala
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#12972 Resolve relative paths against original working directory
  engine/runner/src/main/java/org/enso/runner/ExitCode.java
  engine/runner/src/main/java/org/enso/runner/Main.java
  engine/runner/src/main/java/org/enso/runner/Utils.java
  engine/runner/src/test/java/org/enso/runner/EngineMainTest.java
  engine/runner/src/test/java/org/enso/runner/UtilsTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/dump/test/DocsGenerateTest.java
  project/DistributionPackage.scala
  project/EnsoLint.scala
Labels: CI: Ready to merge, CI: Keep up to date, CI: No changelog needed, CI: Clean build required

#13030 Fix SQL `Vector_Builder` to work with deeper structures
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Vector_Builder.enso
  test/Table_Tests/src/Helpers/Main.enso
  test/Table_Tests/src/Helpers/Vector_Builder_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#12948 Build native image once
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/engine-checks.yml
  .github/workflows/extra-nightly-tests.yml
  .github/workflows/ide-packaging-optional.yml
  .github/workflows/ide-packaging.yml
  build.sbt
  build_tools/build/src/ci_gen.rs
  build_tools/build/src/ci_gen/job.rs
  build_tools/build/src/ci_gen/step.rs
  build_tools/build/src/engine.rs
  build_tools/build/src/engine/context.rs
  build_tools/build/src/enso.rs
  build_tools/build/src/httpbin.rs
  build_tools/ci_utils/src/actions/workflow/definition.rs
  build_tools/cli/src/arg/backend.rs
  build_tools/cli/src/lib.rs
  project/NativeImage.scala
  test/Base_Tests/polyglot-sources/enso-test-java-helpers/src/main/java/org/enso/base_test_helpers/ExecutableLocation.java
Labels: CI: Ready to merge, CI: No changelog needed

#13021 Prefer `jna-wrapper` where possible
  build.sbt
  distribution/launcher/THIRD-PARTY/NOTICE
  distribution/launcher/THIRD-PARTY/net.java.dev.jna.jna-5.14.0/NOTICES
  distribution/lib/Standard/Tableau/0.0.0-dev/THIRD-PARTY/NOTICE
  distribution/lib/Standard/Tableau/0.0.0-dev/THIRD-PARTY/net.java.dev.jna.jna-platform-5.14.0/NOTICES
  distribution/project-manager/THIRD-PARTY/NOTICE
  distribution/project-manager/THIRD-PARTY/net.java.dev.jna.jna-5.14.0/NOTICES
  lib/java/jna-wrapper/src/main/java/com/sun/jna/Native.java
  project/DistributionPackage.scala
  project/EnsoLint.scala
  project/StdBits.scala
  tools/legal-review/Tableau/net.java.dev.jna.jna-platform-5.14.0/copyright-ignore
  tools/legal-review/Tableau/net.java.dev.jna.jna-platform-5.14.0/copyright-keep
  tools/legal-review/Tableau/net.java.dev.jna.jna-platform-5.14.0/copyright-keep-context
  tools/legal-review/Tableau/report-state
  tools/legal-review/engine/report-state
  tools/legal-review/launcher/net.java.dev.jna.jna-5.14.0/copyright-keep
  tools/legal-review/launcher/report-state
  tools/legal-review/project-manager/net.java.dev.jna.jna-5.14.0/copyright-keep
  tools/legal-review/project-manager/net.java.dev.jna.jna-5.14.0/copyright-keep-context
  tools/legal-review/project-manager/report-state
Labels: CI: No changelog needed, CI: Clean build required

#13018 Add cache for tailwind-variants
  MODULE.bazel.lock
  app/gui/src/dashboard/components/AriaComponents/VisualTooltip/useVisualTooltip.tsx
  app/gui/src/dashboard/components/dashboard/AssetRow.tsx
  app/gui/src/dashboard/components/dashboard/column/SharedWithColumn.tsx
  app/gui/src/dashboard/utilities/LruCache.ts
  app/gui/src/dashboard/utilities/tailwindVariants.ts
Labels: CI: Ready to merge, CI: No changelog needed

#13032 Refactor AuthProvider, BackendProvider and SessionProvider.
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/AriaComponents/Text/Text.tsx
  app/gui/src/dashboard/layouts/InfoMenu.tsx
  app/gui/src/dashboard/providers/AuthProvider/AuthProvider.tsx
  app/gui/src/dashboard/providers/AuthProvider/hooks.ts
  app/gui/src/dashboard/providers/AuthProvider/index.ts
  app/gui/src/dashboard/providers/AuthProvider/types.ts
  app/gui/src/dashboard/providers/BackendProvider/BackendProvider.tsx
  app/gui/src/dashboard/providers/BackendProvider/hooks.ts
  app/gui/src/dashboard/providers/BackendProvider/index.ts
  app/gui/src/dashboard/providers/SessionProvider/SessionProvider.test.tsx
  app/gui/src/dashboard/providers/SessionProvider/SessionProvider.tsx
  app/gui/src/dashboard/providers/SessionProvider/hooks.ts
  app/gui/src/dashboard/providers/SessionProvider/index.ts
  app/gui/src/dashboard/providers/SessionProvider/types.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#13036 Sort `~` out properly this time
  distribution/lib/Standard/Base/0.0.0-dev/src/System/File.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13016 Remove *_NODE_TYPE constants from TableVisualization.vue
  app/gui/integration-test/project-view/tableVisualisation.spec.ts
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  distribution/lib/Standard/Visualization/0.0.0-dev/docs/api/Table/Visualization.md
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  test/Visualization_Tests/src/Table_Spec.enso
Labels: CI: No changelog needed, -libs-API-change-Visualization

#13038 Fix Snowflake key-pair authentication problems in Native Image
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Internal/Key_Pair_Generator.enso
  std-bits/snowflake/src/main/java/org/enso/snowflake/KeyPairGenerator.java
  std-bits/snowflake/src/main/java/org/enso/snowflake/KeyPairHelper.java
Labels: CI: Ready to merge, CI: No changelog needed

#12789 Remove `FocusArea` component and associated components
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/HiddenFile/HiddenFile.tsx
  app/gui/src/dashboard/components/ColorPicker.tsx
  app/gui/src/dashboard/components/JSONSchemaInput.tsx
  app/gui/src/dashboard/components/Link.tsx
  app/gui/src/dashboard/components/MenuEntry.tsx
  app/gui/src/dashboard/components/Modal.tsx
  app/gui/src/dashboard/components/dashboard/Label.tsx
  app/gui/src/dashboard/components/dashboard/Permission.tsx
  app/gui/src/dashboard/components/dashboard/PermissionTypeSelector.tsx
  app/gui/src/dashboard/components/styled/FocusArea.tsx
  app/gui/src/dashboard/components/styled/FocusRoot.tsx
  app/gui/src/dashboard/hooks/focusHooks.ts
  app/gui/src/dashboard/layouts/AssetSearchBar.tsx
  app/gui/src/dashboard/layouts/InfoBar.tsx
  app/gui/src/dashboard/layouts/InfoMenu.tsx
  app/gui/src/dashboard/layouts/SearchBar.tsx
  app/gui/src/dashboard/layouts/Settings/ActivityLogSettingsSection.tsx
  app/gui/src/dashboard/layouts/Settings/DeleteUserAccountSettingsSection.tsx
  app/gui/src/dashboard/layouts/Settings/KeyboardShortcutsSettingsSection.tsx
  app/gui/src/dashboard/layouts/Settings/Sidebar.tsx
  app/gui/src/dashboard/layouts/UserMenu.tsx
  app/gui/src/dashboard/modals/ManageLabelsModal.tsx
  app/gui/src/dashboard/providers/AreaFocusProvider.tsx
  app/gui/src/dashboard/providers/FocusClassProvider.tsx
  app/gui/src/dashboard/providers/FocusDirectionProvider.tsx
  app/gui/src/dashboard/providers/Navigator2DProvider.tsx
  app/gui/src/dashboard/tailwind.css
  app/gui/src/dashboard/utilities/Navigator2D.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard, x-refactor

#12996 Check NI size after it is built
  build.sbt
  project/GraalVM.scala
  project/NativeImage.scala
Labels: CI: No changelog needed

#12976 Private access error in Meta.meta when type isn't visible
  CHANGELOG.md
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Data/Read/Return_As.md
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Enso_Cloud/Enso_Secret.md
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Errors/Common.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Internal/Meta_Helpers.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Logging.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/docs/api/Connection/Key_Pair_Credentials.md
  engine/runtime-compiler/src/main/java/org/enso/compiler/docs/BindingSorter.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/dump/test/BindingSorterTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/interop/MetaObjectTest.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/InvokeFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/PrivateAccess.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/FindAtomConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/meta/MetaKindNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Error.java
  test/Base_Tests/src/Logging_Spec.enso
  test/Base_Tests/src/Main.enso
  test/Base_Tests/src/Semantic/Meta_Spec.enso
Labels: CI: No changelog needed, -libs-API-change-Base

#13044 Adjust RuntimeAsyncCommandsTest program start timeouts
  build.sbt
  engine/runtime-integration-tests/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/FlakySpec.scala
Labels: CI: Ready to merge, CI: No changelog needed

#13045 Retry unpacking Engine Distribution archive
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/engine-checks.yml
  .github/workflows/extra-nightly-tests.yml
  build_tools/build/src/ci_gen/step.rs
Labels: CI: Ready to merge, CI: No changelog needed

#13052 Removing Helidon @Substitute - virtual threads shall work on GraalVM24.2
  lib/java/ydoc-server/src/main/java/org/enso/ydoc/server/nativeimage/Target_ExecutorsFactory.java
  lib/java/ydoc-server/src/main/java/org/enso/ydoc/server/nativeimage/Target_LoomClient.java
Labels: CI: No changelog needed

#13046 Fix Labels column/Label Editor
  app/gui/src/dashboard/components/AriaComponents/Button/variants.ts
  app/gui/src/dashboard/components/dashboard/column/LabelsColumn.tsx
  app/gui/src/dashboard/layouts/Settings/KeyboardShortcutsSettingsSection.tsx
  app/gui/src/dashboard/modals/ManageLabelsModal.tsx
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#13055 Continuing work on Min/Max on Column
  distribution/lib/Standard/Geo/0.0.0-dev/src/Table_Extensions.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationBool.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationNumeric.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/StorageIterators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/arithmetic/MaxOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/arithmetic/MinOp.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/map/numeric/arithmetic/NumericBinaryOpCoalescing.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnBooleanStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnDoubleStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnLongStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/NullStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/AbstractLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/BigDecimalStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/BigIntegerStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/BigDecimalType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/BigIntegerType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/BooleanType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/FloatType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/IntegerType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/NumericType.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/TextType.java
  std-bits/table/src/main/java/org/enso/table/util/ProgressHandler.java
Labels: CI: Ready to merge, CI: No changelog needed

#13057 getEventListeners returns JavaScript like array
  lib/java/ydoc-polyfill/src/main/java/org/enso/ydoc/polyfill/web/EventTarget.java
  lib/java/ydoc-polyfill/src/main/java/org/enso/ydoc/polyfill/web/WebEnvironment.java
  lib/java/ydoc-polyfill/src/test/java/org/enso/ydoc/polyfill/web/EventTargetTest.java
Labels: CI: No changelog needed

#13064 Refactor Categories Provider
  app/gui/src/dashboard/layouts/Drive/Categories/CategoriesProvider.tsx
  app/gui/src/dashboard/layouts/Drive/Categories/categoriesHooks.tsx
  app/gui/src/dashboard/layouts/Drive/Categories/index.ts
  app/gui/src/dashboard/pages/dashboard/Dashboard.tsx
Labels: CI: No changelog needed, g-dashboard

#13065 engine-runner log-to-file level is DEBUG, not TRACE
  engine/runner/src/main/resources/application.conf
Labels: CI: No changelog needed

#13074 Work on Column performance
  std-bits/table/src/main/java/org/enso/table/data/column/operation/StorageIterators.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnBooleanStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnBooleanStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnDoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnDoubleStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnLongStorageIterator.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/ColumnStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/NullStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/SpecializedStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/AbstractLongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/DoubleStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/LongStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/numeric/LongStorageFacade.java
  std-bits/table/src/main/java/org/enso/table/util/ProgressHandler.java
  test/Benchmarks/src/Table/Arithmetic.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13058 Add hyper_file viz
  app/gui/integration-test/project-view/tableVisualisation.spec.ts
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Visualization/Table_Viz_Data.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Visualization/Table_Viz_Data.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Excel/Excel_Workbook.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/docs/api/Hyper_File.md
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Hyper_File.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/docs/api/Table/Visualization.md
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Helpers.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
Labels: CI: No changelog needed, -libs-API-change-Base, -libs-API-change-Table, -libs-API-change-Tableau, -libs-API-change-Visualization

#13076 Callback to native executable from HotSpot JVM
  build.sbt
  lib/java/os-environment/src/main/java/org/enso/os/environment/jni/TestMain.java
  lib/java/os-environment/src/test/java/org/enso/os/environment/jni/LoadClassTest.java
  project/FrgaalJavaCompiler.scala
Labels: CI: No changelog needed, CI: Clean build required

#13043 Add separate steps for linting rust and libraries
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks.yml
  .github/workflows/wasm-checks.yml
  build_tools/build/src/ci_gen.rs
  build_tools/build/src/ci_gen/job.rs
  build_tools/build/src/rust/enso_linter.rs
  build_tools/cli/src/arg.rs
  build_tools/cli/src/arg/libraries.rs
  build_tools/cli/src/arg/wasm.rs
  build_tools/cli/src/lib.rs
Labels: CI: Ready to merge, CI: No changelog needed

#13012 Use Missing_Value for more arguments on Table
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Json/Extensions.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/List.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Logging.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Meta.enso
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/DB_Table.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Database.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Ordering_Helpers.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/DB_Column_Refinements.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/DB_Table_Refinements.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/Single_Column_DB_Table_Conversions.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/Single_Column_Typed_DB_Table_Conversions.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Type_Refinements/Typed_DB_Column_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Fixed_Width/Internal/Column_Namer.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Table.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Fixed_Width/Fixed_Width_Format.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Fixed_Width/Internal/Column_Namer.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Fixed_Width_Reader.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Problems.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Single_Column_Table_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Single_Column_Typed_Table_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Single_Value_Column_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Table_Refinements.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Typed_Column_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Table.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Hyper_File.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Tableau_Format.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
Labels: CI: Ready to merge, CI: No changelog needed, -libs-API-change-Database, -libs-API-change-Table

#13086 Add engine distribution check before unpacking
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/engine-checks.yml
  .github/workflows/extra-nightly-tests.yml
  build_tools/build/src/ci_gen/job.rs
  build_tools/build/src/ci_gen/step.rs
Labels: CI: Ready to merge, CI: No changelog needed

#13088 Reduce the stack trace output in tests
  engine/runtime-integration-tests/src/test/scala/org/enso/interpreter/test/instrument/RuntimeAsyncCommandsTest.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/DebugSpec.scala
  lib/scala/testkit/src/main/scala/org/enso/testkit/FlakySpec.scala
Labels: CI: Ready to merge, CI: No changelog needed

#13081 Update NI size check - smaller Linux NI.
  project/GraalVM.scala
Labels: CI: Ready to merge, CI: No changelog needed

#13047 Types (and their constructors) in private modules are considered private
  distribution/lib/Standard/AWS/0.0.0-dev/src/Internal/Decomposed_S3_Path.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Enso_Cloud/Internal/Authentication.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors/Common.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Aggregate_Helper.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Test/0.0.0-dev/src/Group.enso
  engine/runtime-compiler/src/main/scala/org/enso/compiler/data/BindingsMap.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/BindingAnalysis.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/analyse/BindingAnalysisTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/pass/resolve/MethodDefinitionsTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/caches/ImportExportCache.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/RuntimeStubsGenerator.scala
  test/Base_Tests/src/Semantic/Meta_Spec.enso
  test/Helpers/src/Internal.enso
  test/Helpers/src/Main.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13077 Move to Table_Viz_Data.from pattern
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  distribution/lib/Standard/Base/0.0.0-dev/src/Visualization/Table_Viz_Data.enso
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/Connection/Postgres_Connection.md
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/Connection/SQLite_Connection.md
  distribution/lib/Standard/Database/0.0.0-dev/docs/api/Internal/Common/Connections_Helpers.md
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Postgres_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/SQLite_Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Connections_Helpers.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/docs/api/SQLServer_Connection.md
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/SQLServer_Connection.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/docs/api/Snowflake_Connection.md
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Snowflake_Connection.enso
Labels: CI: Ready to merge, CI: No changelog needed, -libs-API-change-Database, -libs-API-change-Microsoft, -libs-API-change-Snowflake

#12682 Use `getAsset` api to retreive the current directory instead of `listDirectory`
  app/common/src/backendQuery.ts
  app/common/src/services/Backend.ts
  app/common/src/text/english.json
  app/gui/integration-test/dashboard/actions/api.ts
  app/gui/src/dashboard/components/dashboard/AssetRow.tsx
  app/gui/src/dashboard/components/dashboard/DirectoryNameColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/PathColumn.tsx
  app/gui/src/dashboard/hooks/backendBatchedHooks.ts
  app/gui/src/dashboard/hooks/backendHooks.ts
  app/gui/src/dashboard/hooks/eventCallbackHooks.ts
  app/gui/src/dashboard/hooks/projectHooks.ts
  app/gui/src/dashboard/layouts/AssetDiffView/index.ts
  app/gui/src/dashboard/layouts/AssetDocs/index.ts
  app/gui/src/dashboard/layouts/AssetPanel/AssetPanel.tsx
  app/gui/src/dashboard/layouts/AssetPanel/AssetPanelState.ts
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetDiffView.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetDocs.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetProperties.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetVersion.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetVersions.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/ProjectExecutions.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/ProjectExecutionsCalendar.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/ProjectSessions.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/queries.ts
  app/gui/src/dashboard/layouts/AssetPanel/components/types.ts
  app/gui/src/dashboard/layouts/AssetPanel/components/useAssetVersions.ts
  app/gui/src/dashboard/layouts/AssetPanel/components/useFetchVersionContent.ts
  app/gui/src/dashboard/layouts/AssetsTable.tsx
  app/gui/src/dashboard/layouts/CategorySwitcher.tsx
  app/gui/src/dashboard/layouts/Drive/Categories/CategoriesProvider.tsx
  app/gui/src/dashboard/layouts/Drive/directoryIdsHooks.ts
  app/gui/src/dashboard/pages/dashboard/Drive/DriveBar/DriveBarNavigation.tsx
  app/gui/src/dashboard/providers/DriveProvider.tsx
  app/gui/src/dashboard/providers/SessionProvider/SessionProvider.tsx
  app/gui/src/dashboard/services/LocalBackend.ts
  app/gui/src/dashboard/services/ProjectManager.ts
  app/gui/src/dashboard/services/RemoteBackend.ts
  app/gui/src/dashboard/services/remoteBackendPaths.ts
Labels: CI: No changelog needed, g-dashboard

#13066 Default starting time of Project Schedule to start of current hour
  app/gui/src/dashboard/layouts/AssetPanel/components/ProjectExecutionsCalendar.tsx
  app/gui/src/dashboard/layouts/NewProjectExecutionModal.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#13083 Ydoc server: Do not require ls query param when using env.
  app/ydoc-server/src/index.ts
Labels: CI: Ready to merge, CI: No changelog needed

#13071 Remove unused code for flat schedules list
  app/common/src/text/english.json
  app/gui/src/dashboard/layouts/AssetPanel/AssetPanel.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/ProjectExecutions.tsx
  app/gui/src/dashboard/layouts/AssetPanel/types.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-chore, g-dashboard

#13089 Add more table viz types
  app/gui/integration-test/project-view/tableVisualisation.spec.ts
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  app/gui/src/project-view/components/visualizations/TableVisualization/TableVisualisationTypes.ts
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Visualization/Table_Viz_Data.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Visualization/Table_Viz_Data.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Connections_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Hyper_File.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
Labels: CI: No changelog needed, -libs-API-change-Base

#12928 When closing all projects, also remove already closed projects
  app/common/src/text/english.json
  app/gui/src/dashboard/components/dashboard/ProjectIcon.tsx
  app/gui/src/dashboard/hooks/projectHooks.ts
  app/gui/src/dashboard/pages/dashboard/Dashboard.tsx
  app/gui/src/dashboard/providers/ProjectsProvider/hooks.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, --regression, g-dashboard

#13035 Confirmation before deleting in the Dashboard
  app/common/src/services/Backend.ts
  app/gui/integration-test/dashboard/actions/DrivePageActions.ts
  app/gui/integration-test/dashboard/actions/contextMenuActions.ts
  app/gui/integration-test/dashboard/assetsTableFeatures.spec.ts
  app/gui/integration-test/dashboard/copy.spec.ts
  app/gui/integration-test/dashboard/delete.spec.ts
  app/gui/integration-test/dashboard/driveView.spec.ts
  app/gui/integration-test/dashboard/pageSwitcher.spec.ts
  app/gui/playwright.config.ts
  app/gui/src/dashboard/components/dashboard/Permission.tsx
  app/gui/src/dashboard/layouts/AssetContextMenu.tsx
  app/gui/src/dashboard/layouts/AssetsTableContextMenu.tsx
  app/gui/src/dashboard/layouts/CategorySwitcher.tsx
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#13092 Moving Boolean Comparators to new framework
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Text/Regex/Internal/Replacer.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationBool.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationBase.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationBoolean.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/UnaryOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/BooleanComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/Comparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/unary/TextLengthOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/type/BooleanType.java
  std-bits/table/src/main/java/org/enso/table/util/ProgressHandler.java
Labels: CI: Ready to merge, CI: No changelog needed

#13082 Add ellipsis to labels column when there are too many
  app/common/src/services/Backend.ts
  app/common/src/text/english.json
  app/gui/src/dashboard/assets/dots.svg
  app/gui/src/dashboard/components/Icon/Icon.stories.tsx
  app/gui/src/dashboard/components/dashboard/Permission.tsx
  app/gui/src/dashboard/components/dashboard/PermissionSelector.tsx
  app/gui/src/dashboard/components/dashboard/PermissionTypeSelector.tsx
  app/gui/src/dashboard/components/dashboard/column/LabelsColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/SharedWithColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/columnUtils.ts
  app/gui/src/dashboard/hooks/measureHooks.ts
  app/gui/src/dashboard/tailwind.css
  app/gui/src/dashboard/utilities/permissions.ts
  app/gui/tailwind.config.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#12078 Notification tray for displaying in-flight requests
  app/common/src/services/Backend.ts
  app/common/src/text.ts
  app/common/src/text/english.json
  app/gui/integration-test/dashboard/actions/api.ts
  app/gui/package.json
  app/gui/src/dashboard/assets/inbox.svg
  app/gui/src/dashboard/components/AriaComponents/Button/Button.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Button/ButtonGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Check/Check.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Dialog/Popover.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/Form.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/components/AriaComponents/Inputs/ComboBox/ComboBox.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/DatePicker/DatePicker.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Selector/Selector.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/ProgressBar/ProgressBar.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/ProgressBar/ProgressBar.tsx
  app/gui/src/dashboard/components/AriaComponents/ProgressBar/index.ts
  app/gui/src/dashboard/components/AriaComponents/StatusBadge/StatusBadge.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/StatusBadge/StatusBadge.tsx
  app/gui/src/dashboard/components/AriaComponents/StatusBadge/index.ts
  app/gui/src/dashboard/components/AriaComponents/Switch/index.ts
  app/gui/src/dashboard/components/AriaComponents/Text/Text.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Text/Text.tsx
  app/gui/src/dashboard/components/AriaComponents/index.ts
  app/gui/src/dashboard/components/AriaComponents/utilities.ts
  app/gui/src/dashboard/components/Breadcrumbs/Breadcrumbs.stories.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsImpl.tsx
  app/gui/src/dashboard/components/Icon/Icon.stories.tsx
  app/gui/src/dashboard/components/Icon/Icon.tsx
  app/gui/src/dashboard/components/Paywall/index.ts
  app/gui/src/dashboard/components/dashboard/column/ModifiedColumn.tsx
  app/gui/src/dashboard/hooks/backendBatchedHooks.ts
  app/gui/src/dashboard/hooks/backendHooks.ts
  app/gui/src/dashboard/hooks/backendUploadFilesHooks.tsx
  app/gui/src/dashboard/hooks/projectHooks.ts
  app/gui/src/dashboard/layouts/AssetsTable.tsx
  app/gui/src/dashboard/layouts/AssetsTableContextMenu.tsx
  app/gui/src/dashboard/layouts/Drive.tsx
  app/gui/src/dashboard/layouts/Drive/Categories/Category.ts
  app/gui/src/dashboard/layouts/Drive/Categories/categoriesHooks.tsx
  app/gui/src/dashboard/layouts/UserBar.tsx
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/NotificationItem.stories.tsx
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/NotificationItem.tsx
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/NotificationTray.tsx
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/computedNotificationHooks.tsx
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/index.ts
  app/gui/src/dashboard/pages/dashboard/components/NotificationTray/types.ts
  app/gui/src/dashboard/utilities/LocalStorage.ts
  app/gui/src/dashboard/utilities/StoryVariants.tsx
  app/gui/src/dashboard/utilities/jsx.tsx
  app/gui/tailwind.config.ts
  pnpm-lock.yaml
Labels: CI: Ready to merge, CI: No changelog needed, x-new-feature, g-dashboard

#13099 Cleanup debug built-distribution info
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/engine-checks.yml
  .github/workflows/extra-nightly-tests.yml
  build_tools/build/src/ci_gen/step.rs
Labels: CI: Ready to merge, CI: No changelog needed

#13096 Remove type casting conversions to Any
  app/gui/src/project-view/components/ComponentBrowser/__tests__/input.test.ts
  app/gui/src/project-view/components/ComponentBrowser/input.ts
  app/gui/src/project-view/stores/suggestionDatabase/__tests__/lsUpdate.test.ts
  app/gui/src/project-view/util/__tests__/callTree.test.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, -gui

#13100 Fix error toast for "Export to Local
  app/common/src/text/english.json
  app/gui/src/dashboard/layouts/Drive/Categories/transferBetweenCategoriesHooks.tsx
  app/gui/vite.config.ts
  app/ide-desktop/client/src/server.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#13070 Tab View Fixes
  app/gui/src/App.vue
  app/gui/src/components/CloseButton.vue
  app/gui/src/components/TabView.vue
  app/gui/src/components/TabView/SelectableTab.vue
  app/gui/src/dashboard/components/AriaComponents/Button/Button.tsx
  app/gui/src/dashboard/components/Loader.tsx
  app/gui/src/dashboard/components/Spinner.tsx
  app/gui/src/dashboard/components/StatelessSpinner.tsx
  app/gui/src/dashboard/components/dashboard/ProjectIcon.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetDiffView.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetProperties.tsx
  app/gui/src/dashboard/layouts/Editor.tsx
  app/gui/src/dashboard/layouts/Settings/ActivityLogSettingsSection.tsx
  app/gui/src/dashboard/layouts/Settings/OrganizationProfilePictureInput.tsx
  app/gui/src/dashboard/layouts/Settings/ProfilePictureInput.tsx
  app/gui/src/dashboard/layouts/Settings/UserGroupsSettingsSection.tsx
  app/gui/src/dashboard/pages/authentication/LoadingScreen.tsx
  app/gui/src/project-view/assets/base.css
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetIcon.vue
  app/gui/src/project-view/components/MenuButton.vue
  app/gui/src/project-view/components/SvgButton.vue
  app/gui/src/project-view/components/shared/GrowingSpinner.vue
  app/gui/src/project-view/components/shared/LoadingSpinner.vue
  app/gui/src/project-view/components/visualizations/LoadingVisualization.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget/FileBrowserEntry.vue
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard, -gui

#13103 Make `Column` a base type for `In_Memory_Column`
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Column_Fetcher.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Internal/Snowflake_Dialect.enso
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Column.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/In_Memory_Column.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Java_Exports.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Storage.md
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Visualization_Helpers.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/In_Memory_Column.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Group_Number.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Row_Number.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Running.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Aggregate_Column_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Column_Ops.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Expand_Objects_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Fan_Out.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Column_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Visualization_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Java_Exports.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Lookup_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Offset_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Storage.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Type_Refinements/Typed_Column_Conversions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Union.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Visualization_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Table.enso
  distribution/lib/Standard/Tableau/0.0.0-dev/src/Hyper_Table.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/test/ExecStrictCompilerTest.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/util/DiagnosticFormatter.scala
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/util/GitHubDiagnosticFormatter.scala
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/util/RepositoryFinder.scala
  test/Table_Tests/src/Database/Upload_Spec.enso
  test/Table_Tests/src/In_Memory/Builders_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed, -libs-API-change-Table

#13112 Remove chat
  app/common/src/text/english.json
  app/gui/.env.bazel
  app/gui/.env.testing
  app/gui/src/components/TabView.vue
  app/gui/src/config.ts
  app/gui/src/dashboard/assets/chat.svg
  app/gui/src/dashboard/components/Page.tsx
  app/gui/src/dashboard/layouts/Chat.tsx
  app/gui/src/dashboard/layouts/ChatPlaceholder.tsx
  app/gui/src/dashboard/layouts/InfoBar.tsx
  app/gui/src/dashboard/layouts/UserBar.tsx
  app/gui/src/dashboard/pages/dashboard/Dashboard.tsx
  app/gui/src/dashboard/services/Chat.ts
  app/gui/src/dashboard/tailwind.css
  app/gui/tailwind.config.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-chore, g-dashboard

#13102 Clean up some stream usage
  engine/runner/src/main/java/org/enso/runner/Main.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/atom/Atom.java
Labels: CI: No changelog needed

#13107 Continued Operations Work
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Column_Implementation.enso
  std-bits/snowflake/src/main/java/org/enso/snowflake/SnowflakeIntegerColumnMaterializer.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/BoolBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/Builder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/BuilderForType.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/DoubleBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/InferredBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/InferredIntegerBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/LongBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/NullBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/NumericBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/builder/TypedBuilder.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationBool.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationNumeric.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationBase.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationBoolean.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/IfOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/UnaryOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/binary/LogicalOperations.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/BooleanComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/Comparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/GenericComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/NullComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/text/TextPartOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/unary/NotOperation.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/BoolStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/NullStorage.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/Storage.java
  test/Base_Tests/src/Data/Text_Spec.enso
  test/Table_Tests/src/Common_Table_Operations/Expression_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13113 Update default audit log endpoint
  std-bits/base/src/main/java/org/enso/base/enso_cloud/CloudAPI.java
Labels: CI: No changelog needed

#13126 Improve typings (including `React.forwardRef`)
  app/gui/src/dashboard/components/AriaComponents/Alert/Alert.tsx
  app/gui/src/dashboard/components/AriaComponents/Button/Button.tsx
  app/gui/src/dashboard/components/AriaComponents/Button/types.ts
  app/gui/src/dashboard/components/AriaComponents/Checkbox/Checkbox.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/CheckboxGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/Form.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/Field.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/FieldValue.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/ComboBox/ComboBox.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/DatePicker/DatePicker.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/MultiSelector/MultiSelector.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/MultiSelector/MultiSelectorOption.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/ResizableInput/ResizableContentEditableInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/ResizableInput/ResizableInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Selector/Selector.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Selector/SelectorOption.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/TimeField/TimeField.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/Radio.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/RadioGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Switch/Switch.tsx
  app/gui/src/dashboard/components/AriaComponents/Text/Text.tsx
  app/gui/src/dashboard/components/AriaComponents/VisuallyHidden.tsx
  app/gui/src/dashboard/components/ColorPicker.tsx
  app/gui/src/dashboard/components/Link.tsx
  app/gui/src/dashboard/components/SelectionBrush.tsx
  app/gui/src/dashboard/components/styled/RadioGroup.tsx
  app/gui/src/dashboard/components/styled/withFocusScope.tsx
  app/gui/src/dashboard/typings.d.ts
  app/gui/src/dashboard/utilities/react.ts
  app/modules.d.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard, x-refactor

#13119 Small Refactor to TypeCheckValueNode
  engine/runtime/src/main/java/org/enso/interpreter/node/typecheck/TypeCheckValueNode.java
Labels: CI: No changelog needed

#13104 Project Tab Tooltip
  app/gui/src/components/TabView.vue
  app/gui/src/components/TabView/SelectableTab.vue
  app/gui/src/project-view/components/TooltipDisplayer.vue
  app/gui/src/project-view/components/TooltipTrigger.vue
  app/gui/src/project-view/providers/tooltipRegistry.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui

#12764 Implement Contextual help component
  app/gui/src/dashboard/components/AriaComponents/Checkbox/Checkbox.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/CheckboxGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/ContextualHelp/ContextualHelp.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/ContextualHelp/ContextualHelp.tsx
  app/gui/src/dashboard/components/AriaComponents/ContextualHelp/index.ts
  app/gui/src/dashboard/components/AriaComponents/Dialog/DialogTrigger.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/Field.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/Field.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/types.ts
  app/gui/src/dashboard/components/AriaComponents/Inputs/ComboBox/ComboBox.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/DatePicker/DatePicker.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.stories.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/MultiSelector/MultiSelector.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/OTPInput/OTPInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/ResizableInput/ResizableContentEditableInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Selector/Selector.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/TimeField/TimeField.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/RadioGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Switch/Switch.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#13033 Fix Dropdown visuals
  MODULE.bazel.lock
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/data/serviceCredentials/CredentialsFormFooter.tsx
  app/gui/src/dashboard/data/serviceCredentials/GoogleCredentialsForm.tsx
  app/gui/src/dashboard/modals/CreateCredentialModal.tsx
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#12216 Execute chromatic tests only when label is present
  .github/workflows/gui-checks.yml
  .github/workflows/gui-chromatic-tests-label-trigger.yml
  .github/workflows/gui-pull-request.yml
  .github/workflows/storybook.yml
  app/gui/scripts/ci/parse-playwright-json-report.mjs
  app/gui/scripts/ci/set-message.js
Labels: CI: Ready to merge, CI: No changelog needed, -ci, CI: Run Chromatic

#13105 Refactor new node from filtering logic
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  app/gui/src/project-view/components/visualizations/TableVisualization/TableVizDataSourceUtils.ts
  app/gui/src/project-view/components/visualizations/TableVisualization/tableVizToolbar.ts
Labels: CI: Ready to merge, CI: No changelog needed

#13131 Simplify and promote usage of runEngineDistribution
  docs/CONTRIBUTING.md
  docs/infrastructure/native-image.md
  project/DistributionPackage.scala
  project/EnsoProjects.scala
Labels: CI: Ready to merge, CI: No changelog needed

#13118 Remove warnings before calling into AbstractTypeCheckNode
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/node/typecheck/TypeCheckValueTest.java
  engine/runtime/src/main/java/org/enso/interpreter/node/typecheck/SingleTypeCheckNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/typecheck/TypeCheckValueNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/warning/WithWarnings.java
  test/Base_Tests/src/Semantic/Multi_On_Any_Spec.enso
  test/Base_Tests/src/Semantic/Multi_Value_As_Type_Refinement_Spec.enso
  test/Base_Tests/src/Semantic/Multi_Value_Column_Like_Spec.enso
  test/Base_Tests/src/Semantic/Multi_Value_Spec.enso
Labels: CI: No changelog needed

#13101 Native libraries from packages are not copied
  build.sbt
  engine/runner/src/main/java/org/enso/runner/EnsoLibraryFeature.java
  engine/runtime/src/main/java/module-info.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/nativeimage/NativeLibraryFeature.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/nativeimage/NativeLibrarySearchPath.java
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/DefaultPackageRepository.scala
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required

#13048 File browser extensions
  CHANGELOG.md
  app/gui/env.d.ts
  app/gui/src/App.vue
  app/gui/src/project-view/components/ConditionalTeleport.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFileBrowser.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFileBrowser/cloudBrowser.ts
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFileBrowser/localBrowser.ts
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetSelection.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetSelection/SelectionSubmenu.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetSelection/styles.ts
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetSelection/submenuEntry.ts
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetSelection/tags.ts
  app/gui/src/project-view/components/widgets/FileBrowserWidget.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget/FileBrowserContent.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget/FileBrowserModals.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget/FileBrowserNameBar.vue
  app/gui/src/project-view/components/widgets/FileBrowserWidget/__tests__/fileExtensionFilter.test.ts
  app/gui/src/project-view/components/widgets/FileBrowserWidget/__tests__/nameBar.test.ts
  app/gui/src/project-view/components/widgets/FileBrowserWidget/fileExtensionFilter.ts
  app/gui/src/project-view/components/widgets/FileBrowserWidget/nameBar.ts
  app/gui/src/project-view/providers/__tests__/interactionHandler.test.ts
  app/gui/src/project-view/providers/interactionHandler.ts
  app/gui/src/project-view/providers/widgetRegistry/configuration.ts
  app/gui/src/project-view/util/fileFilter.ts
  app/ide-desktop/client/src/fileBrowser.ts
  app/ide-desktop/client/src/globals.d.ts
  app/ide-desktop/client/src/index.ts
  app/ide-desktop/client/src/preload.ts
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Metadata.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Metadata.enso
Labels: CI: Ready to merge, -gui, -libs-API-change-Base

#13121 Redesign the ManageLabels modal
  app/common/src/services/Backend.ts
  app/common/src/text.ts
  app/common/src/text/english.json
  app/gui/src/dashboard/components/AriaComponents/Dialog/DialogTrigger.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/Form.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/FormProvider.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/Submit.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/types.ts
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/components/AriaComponents/Form/types.ts
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.tsx
  app/gui/src/dashboard/components/AriaComponents/index.ts
  app/gui/src/dashboard/components/ColorPicker.tsx
  app/gui/src/dashboard/components/Scroller/Scroller.tsx
  app/gui/src/dashboard/components/SelectionBrush.tsx
  app/gui/src/dashboard/components/dashboard/Label.tsx
  app/gui/src/dashboard/components/dashboard/column/LabelsColumn.tsx
  app/gui/src/dashboard/modals/ManageLabelsModal.tsx
  app/gui/tailwind.config.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard

#13149 Fix concurrency issues with template script
  .github/workflows/gui-changed-files.yml
  .github/workflows/gui-pull-request.yml
Labels: CI: Ready to merge, CI: No changelog needed

#13073 Check native libraries bundled in JARs
  test/Base_Tests/data/native_libs.json
  test/Base_Tests/src/Main.enso
  test/Base_Tests/src/System/Embedded_Native_Libs_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed, -compiler

#13160 Remove unused stuff from sbt
  build.sbt
  project/DistributionPackage.scala
  tools/ci/Test.enso
  tools/ci/artifact-test/repl/ReplTest.in
  tools/ci/artifact-test/repl/ReplTest.out
  tools/ci/prepare-distribution-env.sh
  tools/graphmod/README.md
  tools/graphmod/run.sh
  tools/performance/comparative-benchmark/README.md
  tools/performance/comparative-benchmark/benchmarks/cpp/.gitignore
  tools/performance/comparative-benchmark/benchmarks/cpp/Makefile
  tools/performance/comparative-benchmark/benchmarks/cpp/src/main.cpp
  tools/performance/comparative-benchmark/benchmarks/haskell/Setup.hs
  tools/performance/comparative-benchmark/benchmarks/haskell/package.yaml
  tools/performance/comparative-benchmark/benchmarks/haskell/src/Fixtures.hs
  tools/performance/comparative-benchmark/benchmarks/haskell/stack.yaml
  tools/performance/comparative-benchmark/benchmarks/haskell/stack.yaml.lock
  tools/performance/comparative-benchmark/benchmarks/haskell/test/bench/Main.hs
  tools/performance/comparative-benchmark/benchmarks/java/pom.xml
  tools/performance/comparative-benchmark/benchmarks/java/src/main/java/org/enso/Cons.java
  tools/performance/comparative-benchmark/benchmarks/java/src/main/java/org/enso/JavaBenchmarks.java
  tools/performance/comparative-benchmark/benchmarks/python/.gitignore
  tools/performance/comparative-benchmark/benchmarks/python/benchmark.py
  tools/performance/comparative-benchmark/utilities/plot-generator/.gitignore
Labels: CI: No changelog needed

#13139 Testing behavior of warnings in arrays and vectors
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Data/Vector.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/ArrayTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/VectorBuilderTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/VectorTest.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/immutable/FromPolyglotArrayBuiltinVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/immutable/InsertBuiltinVectorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/ArrayBuilder.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/ArrayLikeHelpers.java
  test/Base_Tests/src/Data/Vector_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed, -libs-API-change-Base

#13123 Bump GraalVM in docker image
  tools/ci/docker/engine/Dockerfile
Labels: CI: No changelog needed

#13110 Meta.meta on synhetic module throws dataflow error
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Errors.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Errors.enso
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/PrivateModuleAnalysis.java
  engine/runtime-integration-tests/src/test/resources/Logical_Import_Violated_Test/src/Main.enso
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/semantic/ImportExportTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  test/Base_Tests/src/Semantic/Meta_Spec.enso
  test/Table_Tests/src/Common_Table_Operations.enso
  test/micro-distribution/lib/Test/Logical_Export/0.0.0-dev/src/Main.enso
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -libs-API-change-Base

#13163 Remove dead link from CONTRIBUTING
  docs/CONTRIBUTING.md
Labels: CI: Ready to merge, CI: No changelog needed

#13141 Remove some unused backend methods
  app/common/src/services/Backend.ts
  app/common/src/text.ts
  app/common/src/text/english.json
  app/gui/integration-test/dashboard/actions/api.ts
  app/gui/src/dashboard/services/LocalBackend.ts
  app/gui/src/dashboard/services/ProjectManager.ts
  app/gui/src/dashboard/services/RemoteBackend.ts
  app/gui/src/dashboard/services/remoteBackendPaths.ts
Labels: CI: Ready to merge, CI: No changelog needed, x-chore, g-dashboard

#13148 Component documentation in Markdown (part 1/2)
  app/gui/src/project-view/components/DocumentationPanel.vue
  app/gui/src/project-view/components/DocumentationPanel/ir.ts
  app/gui/src/project-view/components/DocumentationPanel/metadata.ts
  app/gui/src/project-view/components/MarkdownEditor/DocsTag.vue
  app/gui/src/project-view/components/MarkdownEditor/FrontMatter.vue
  app/gui/src/project-view/components/MarkdownEditor/codemirror/decoration/frontmatter.ts
  app/gui/src/project-view/components/MarkdownEditor/codemirror/decoration/index.ts
  app/gui/src/project-view/components/MarkdownEditor/codemirror/decoration/linksAndImages.ts
  app/gui/src/project-view/components/MarkdownEditor/codemirror/decoration/table.ts
  app/gui/src/project-view/components/MarkdownEditor/codemirror/decoration/vueDecorationWidget.ts
  app/gui/src/project-view/stores/suggestionDatabase/documentation.ts
  app/gui/src/project-view/stores/suggestionDatabase/lsUpdate.ts
  app/ydoc-shared/src/ast/__tests__/documentation.test.ts
  app/ydoc-shared/src/ast/__tests__/ensoMarkdown.test.ts
  app/ydoc-shared/src/ast/documentation.ts
  app/ydoc-shared/src/ast/ensoMarkdown.ts
Labels: CI: Ready to merge, CI: No changelog needed, -gui

#13164 Distribute small JDK
  build.sbt
  build_tools/build/paths.yaml
  build_tools/build/src/engine.rs
  build_tools/build/src/engine/bundle.rs
  build_tools/build/src/engine/context.rs
  build_tools/build/src/enso.rs
  build_tools/build/src/project/backend.rs
  build_tools/build/src/project/runtime.rs
  build_tools/cli/src/lib.rs
  project/SmallJDK.scala
Labels: CI: No changelog needed, CI: Clean build required

#13190 Revert "Upgrade GH MacOS runner (#13173)"
  .github/workflows/engine-checks-nightly.yml
  .github/workflows/engine-checks-optional.yml
  .github/workflows/ide-packaging-optional.yml
  .github/workflows/release.yml
  build_tools/build/src/ci_gen/job.rs
  build_tools/ci_utils/src/actions/workflow/definition.rs
Labels: CI: Ready to merge, CI: No changelog needed

#13174 Enable Native_Libs_Spec on all platforms
  test/Base_Tests/src/System/Embedded_Native_Libs_Spec.enso
Labels: CI: No changelog needed

#13175 Remove single column of actions
  app/gui/integration-test/project-view/tableVisualisation.spec.ts
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  app/gui/src/project-view/components/visualizations/TableVisualization/TableVisualisationTypes.ts
  distribution/lib/Standard/Base/0.0.0-dev/docs/api/Visualization/Table_Viz_Data.md
  distribution/lib/Standard/Base/0.0.0-dev/src/Visualization/Table_Viz_Data.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Connections_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Excel/Excel_Workbook.enso
Labels: CI: No changelog needed, -libs-API-change-Base

#13185 Remove unused `Samples` component
  app/gui/src/dashboard/assets/ReadAndFilter.png
  app/gui/src/dashboard/assets/aggregate.png
  app/gui/src/dashboard/assets/blankProject.png
  app/gui/src/dashboard/assets/cleansing.png
  app/gui/src/dashboard/assets/covid.png
  app/gui/src/dashboard/assets/geo.svg
  app/gui/src/dashboard/assets/joining.png
  app/gui/src/dashboard/assets/kmeans.png
  app/gui/src/dashboard/assets/monthSales.png
  app/gui/src/dashboard/assets/nasdaq.png
  app/gui/src/dashboard/assets/spreadsheets.svg
  app/gui/src/dashboard/assets/visualize.png
  app/gui/src/dashboard/assets/weather.png
  app/gui/src/dashboard/layouts/Samples.tsx
Labels: CI: Ready to merge, CI: No changelog needed, x-chore, g-dashboard

#13040 Fix vue router regression
  app/gui/src/dashboard/hooks/searchParamsStateHooks.ts
Labels: CI: Ready to merge, CI: No changelog needed

#13186 Remove `useSetModal`
  app/gui/env.d.ts
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/MenuEntry.tsx
  app/gui/src/dashboard/components/Modal.tsx
  app/gui/src/dashboard/components/Paywall/ContextMenuEntry.tsx
  app/gui/src/dashboard/components/dashboard/AssetRow.tsx
  app/gui/src/dashboard/hooks/contextMenuHooks.tsx
  app/gui/src/dashboard/layouts/AssetsTable.tsx
  app/gui/src/dashboard/layouts/AssetsTableContextMenu.tsx
  app/gui/src/dashboard/layouts/GlobalContextMenu.tsx
  app/gui/src/dashboard/layouts/InfoMenu.tsx
  app/gui/src/dashboard/layouts/UserMenu.tsx
  app/gui/src/dashboard/modals/CaptureKeyboardShortcutModal.tsx
  app/gui/src/dashboard/pages/dashboard/Drive/DriveBar/DriveBarToolbar.tsx
  app/gui/src/dashboard/providers/ModalProvider.tsx
  app/gui/src/dashboard/utilities/preventNavigation.tsx
Labels: CI: Ready to merge, CI: No changelog needed, x-chore, g-dashboard

#13202 Update the list for signing Microsoft.
  app/ide-desktop/client/tasks/signArchivesMacOs.ts
Labels: CI: Ready to merge, CI: No changelog needed

#13122 Refresh session when receiving 401 from backend, rather than based on time
  app/common/src/services/Backend.ts
  app/gui/src/dashboard/hooks/debounceCallbackHooks.ts
  app/gui/src/dashboard/providers/SessionProvider/SessionProvider.test.tsx
  app/gui/src/dashboard/providers/SessionProvider/SessionProvider.tsx
  app/gui/src/dashboard/services/RemoteBackend.ts
Labels: CI: Ready to merge, CI: No changelog needed, --bug, g-dashboard

#13051 Use multi filter for text columns with <100 distinct values
  app/gui/src/project-view/components/visualizations/TableVisualization.vue
  app/gui/src/project-view/components/visualizations/TableVisualization/TableVizDataSourceUtils.ts
  app/gui/src/project-view/components/visualizations/TableVisualization/tableVizFilterSetUpUtils.ts
  app/gui/src/project-view/components/visualizations/TableVisualization/tableVizFilterUtils.ts
  app/gui/src/project-view/components/visualizations/TableVisualization/tableVizUtils.ts
  distribution/lib/Standard/Table/0.0.0-dev/docs/api/Internal/Visualization_Helpers.md
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Visualization_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Visualization_Helpers.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/DistinctValuesCheck.java
  std-bits/table/src/main/java/org/enso/table/data/column/storage/StringStorage.java
  test/Visualization_Tests/src/Table_Spec.enso
Labels: CI: Ready to merge, CI: No changelog needed, -libs-API-change-Table

#13187 Remove continue-on-error parameter in optional CI checks
  .github/workflows/engine-checks-optional.yml
  build_tools/build/src/ci_gen.rs
  build_tools/ci_utils/src/actions/workflow/definition.rs
Labels: CI: Ready to merge, CI: No changelog needed, CI: Clean build required, -ci, -build-script

#13177 Extract native libraries from sqlite-jdbc.jar
  build.sbt
  project/GraalVM.scala
  project/JARUtils.scala
  project/StdBits.scala
  std-bits/database/src/main/java/org/enso/database/nativeimage/SqliteJdbcPatchedFeature.java
  std-bits/database/src/main/resources/META-INF/native-image/org/enso/database/native-image.properties
  test/Base_Tests/data/native_libs.json
Labels: CI: No changelog needed, CI: Clean build required

#13191 Remove native libs from grpc-netty-shaded in Standard.Snowflake
  build.sbt
  test/Base_Tests/data/native_libs.json
Labels: CI: No changelog needed, CI: Clean build required

#13143 Convert the doc comments for AWS to Markdown format
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS_Credential.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS_Region.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Error_Mapper.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Redshift_Details.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Internal/Data_Link_Helpers.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Internal/Request_Body.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Internal/S3_File_Write_Strategy.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Internal/S3_Path.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3_Data_Link.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/S3/S3_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Array.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/List.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Range.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Vector.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Database.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Table.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Common/Connections_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Add_Group_Number.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Fan_Out.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Column_Implementation.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Offset_Helper.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Table.enso
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Table/Visualization.enso
Labels: CI: Ready to merge, CI: No changelog needed

#13207 Move `components/dashboard` to `pages/dashboard/components`
  app/gui/src/components/AppContainer.vue
  app/gui/src/dashboard/components/MenuEntry.tsx
  app/gui/src/dashboard/components/Page.tsx
  app/gui/src/dashboard/components/dashboard/column/ModifiedColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/NameColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/PlaceholderColumn.tsx
  app/gui/src/dashboard/components/dashboard/column/SharedWithColumn.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/AccessedByProjectsColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/AccessedDataColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/LabelsColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/PathColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/SharedWithColumnHeading.tsx
  app/gui/src/dashboard/layouts/AssetContextMenu.tsx
  app/gui/src/dashboard/layouts/AssetPanel/components/AssetProperties.tsx
  app/gui/src/dashboard/layouts/AssetSearchBar.tsx
  app/gui/src/dashboard/layouts/AssetsTable.tsx
  app/gui/src/dashboard/layouts/Drive/__test__/compareAssets.test.ts
  app/gui/src/dashboard/layouts/Drive/assetsTableItemsHooks.ts
  app/gui/src/dashboard/layouts/Drive/compareAssets.ts
  app/gui/src/dashboard/layouts/Settings/KeyboardShortcutsSettingsSection.tsx
  app/gui/src/dashboard/modals/CaptureKeyboardShortcutModal.tsx
  app/gui/src/dashboard/modals/DuplicateAssetsModal.tsx
  app/gui/src/dashboard/modals/UpsertDatalinkModal.tsx
  app/gui/src/dashboard/pages/dashboard/Drive/DriveBar/DriveBar.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/NotificationItem.stories.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/NotificationItem.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/NotificationTray.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/computedNotificationHooks.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/index.ts
  app/gui/src/dashboard/pages/dashboard/UserBar/NotificationTray/types.ts
  app/gui/src/dashboard/pages/dashboard/UserBar/UserBar.stories.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/UserBar.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/UserMenu.tsx
  app/gui/src/dashboard/pages/dashboard/UserBar/index.ts
  app/gui/src/dashboard/pages/dashboard/components/AssetIcon.tsx
  app/gui/src/dashboard/pages/dashboard/components/AssetRow.tsx
  app/gui/src/dashboard/pages/dashboard/components/AssetRow/assetRowUtils.tsx
  app/gui/src/dashboard/pages/dashboard/components/AssetSummary.tsx
  app/gui/src/dashboard/pages/dashboard/components/DatalinkInput.tsx
  app/gui/src/dashboard/pages/dashboard/components/KeyboardShortcut.tsx
  app/gui/src/dashboard/pages/dashboard/components/Label.tsx
  app/gui/src/dashboard/pages/dashboard/components/PermissionDisplay.tsx
  app/gui/src/dashboard/pages/dashboard/components/ProjectIcon.tsx
  app/gui/src/dashboard/pages/dashboard/components/TheModal.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/DatalinkNameColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/DirectoryNameColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/FileNameColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/PathColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/ProjectNameColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/SecretNameColumn.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/column.ts
  app/gui/src/dashboard/pages/dashboard/components/column/columnUtils.ts
  app/gui/src/dashboard/pages/dashboard/components/column/components.tsx
  app/gui/src/dashboard/pages/dashboard/components/column/index.ts
  app/gui/src/dashboard/pages/dashboard/components/columnHeading/columnHeading.ts
  app/gui/src/dashboard/pages/dashboard/components/columnHeading/components.tsx
  app/gui/src/dashboard/pages/dashboard/components/columnHeading/index.ts
Labels: CI: Ready to merge, CI: No changelog needed, g-dashboard, x-refactor

#13192 Moving Numeric Comparators to new framework.
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/In_Memory_Column_Implementation.enso
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryCoalescingOperationNumeric.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationBoolean.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/BinaryOperationNumeric.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/BooleanComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/Comparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/DateComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/DateTimeComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/GenericComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/NullComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/NumericComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/StringComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/comparators/TimeOfDayComparators.java
  std-bits/table/src/main/java/org/enso/table/data/column/operation/text/TextPredicates.java
Labels: CI: Ready to merge, CI: No changelog needed

#13208 Update Codeowners
  .github/CODEOWNERS
Labels: CI: No changelog needed
